{% extends 'tc_site/pages/dashboard/base.html' %}
{% load static %}

{% block content %}
<div id="dashboard-archive">

  <div class="upper-sect">
    <button type="" class="create-folder">+ Create folder</button>
  </div>

  {% if companies %}
  <div id="det-cont">

    {% for company, documents in doc_list %}
    <div class="det-heads">
      <i class="bi bi-folder"></i>
      <details class="detail-titles">
        <summary>
          {{company.company_name}}
          <i class="bi bi-caret-right-fill"></i>
          <a class="delete" href="{% url 'tc_site:delete_company' companyID=company.id  %}">delete</a>
        </summary>

        <div class="acc-links">
          {% for document in documents %}
          <div class="d-flex my-2">
            <a class="me-3" href="{% url 'tc_site:share' docID=document.id  %}" target="_blank">{{ document.company.company_name}} {{document.document_type}}</a>
            {% if not document.document_state %}
            <a href="{% url 'tc_site:gen-form' docID=document.id  %}" target="_blank" class="edit btn btn-primary">edit</a>
            {% endif %}
            <a href="{% url 'tc_site:delete_doc' docID=document.id  %}" class="ms-3 delete">delete</a>
          </div>
          {% endfor %}
        </div>
      </details>
    </div>

    <hr />
    {% endfor %}
  </div>
  {% else %}
  <div>You have no data</div>
  {% endif %}

  <section class="btm-sect">
    <p class="sect-head">SUMMARY</p>
    <div class="btm-sect-wrap">
      <div class="btm-sect-cont" id="btm-sect-cont-red">
        Total Terms and Conditions Generated
        <div class="num-cont">{{tc_count}}</div>
      </div>
      <div class="btm-sect-cont" id="btm-sect-cont-yellow">
        Total Privacy Policies Generated
        <div class="num-cont">{{pp_count}}</div>
      </div>
    </div>
  </section>

</div>
{% endblock %}