{% extends 'tc_site/pages/dashboard/base.html' %}
{% load static %}

{% block content %}
<div class="dashboard-archive">

  <div class="upper-sect">
    <button type="" class="create-folder">+ Create folder</button>
  </div>

  <div id="det-cont">
    <div class="det-heads">
      <i class="bi bi-folder"></i>
      <details class="detail-titles">
        <summary>
          My Blog
          <i class="bi bi-caret-right-fill"></i>
        </summary>

        <div class="acc-links">
          <p><a href="">Website Privacy Policy</a></p>
          <p><a href="">Terms & Conditions </a></p>
          <p><a href="">Sales Terms & Conditions </a></p>
        </div>
      </details>
    </div>

    <hr />

    <div class="det-heads">
      <i class="bi bi-folder"> </i>
      <details class="detail-titles">
        <summary>
          John Doe Wears<i class="bi bi-caret-right-fill"></i>
        </summary>

        <div class="acc-links">
          <p><a href="">Website Privacy Policy</a></p>
          <p><a href="">Terms & Conditions </a></p>
          <p><a href="">Sales Terms & Conditions </a></p>
        </div>
      </details>
    </div>

    <hr />

    <div class="det-heads">
      <i class="bi bi-folder"></i>
      <details class="detail-titles">
        <summary>
          My Website
          <i class="bi bi-caret-right-fill"></i>
        </summary>

        <div class="acc-links">
          <p><a href="">Website Privacy Policy</a></p>
          <p><a href="">Terms & Conditions </a></p>
          <p><a href="">Sales Terms & Conditions </a></p>
        </div>
      </details>
    </div>

    <hr />

    <div class="det-heads">
      <i class="bi bi-folder"></i>
      <details class="detail-titles">
        <summary>
          My App
          <i class="bi bi-caret-right-fill"></i>
        </summary>
        <i class="bi bi-caret-right-fill"></i>
        <div class="acc-links">
          <p><a href="">Website Privacy Policy</a></p>
          <p><a href="">Terms & Conditions </a></p>
          <p><a href="">Sales Terms & Conditions </a></p>
        </div>
      </details>
    </div>

    <hr />
  </div>

  <section class="btm-sect">
    <p class="sect-head">SUMMARY</p>
    <div class="btm-sect-wrap">
      <div class="btm-sect-cont" id="btm-sect-cont-red">
        Total Terms and Conditions Generated
        <div class="num-cont">54</div>
      </div>
      <div class="btm-sect-cont" id="btm-sect-cont-yellow">
        Total Privacy Policies Generated
        <div class="num-cont">21</div>
      </div>
    </div>
  </section>

</div>
{% endblock %}