{% extends 'tc_site/pages/dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="dashboard-gen-docs">

  <div class="dashboard-container">
    <section class="gen-docs" id="tc_docs">
      <div class="head_wrap">
        <span class="gen-docs-heading" id="tc_docs-heading">
          Terms and Conditions
        </span>
        <a href="" class="more"> View More > </a>
      </div>

      <!-- <div class="gen_container__wrapper"> -->
      <div class="gen_container">
        {% if tc %}
        {% for item in tc %}
        <div class="gen-docs_temps">
          <figure>
            <a href=""> <img src="" alt="" /> </a>
            <figcaption class="gen-docs_names">
              {{item.company.company_name}} {{item.document_type}}
            </figcaption>
          </figure>
        </div>
        {% endfor %}
        {% else %}
        <div class="text-center"><strong>You have no privacy policies</strong></div>
        {% endif %}
        <!-- <div class="gen-docs_temps">
          <figure>
            <a href=""> <img src="" alt="" /> </a>
            <figcaption class="gen-docs_names">JDW Mobile App</figcaption>
          </figure>
        </div>
        <div class="gen-docs_temps">
          <figure>
            <a href=""> <img src="" alt="" /> </a>
            <figcaption class="gen-docs_names">JDW E-Commerce</figcaption>
          </figure>
        </div> -->
      </div>
      <!-- </div> -->
    </section>

    <section class="gen-docs" id="pp_docs">
      <div class="head_wrap">
        <span class="gen-docs-heading" id="pp_docs-heading">
          Privacy Policy
        </span>
        <a href="" class="more"> View More > </a>
      </div>

      <div class="gen_container">
        {% if pp %}
        {% for item in pp %}
        <div class="gen-docs_temps">
          <figure>
            <a href=""> <img src="" alt="" /> </a>
            <figcaption class="gen-docs_names">
              {{item.company.company_name}} {{item.document_type}}
            </figcaption>
          </figure>
        </div>
        {% endfor %}
        {% else %}
        <div class="text-center"><strong>You have no privacy policies</strong></div>
        {% endif %}
        <!-- <div class="gen-docs_temps">
          <figure>
            <a href=""> <img src="" alt="" /> </a>
            <figcaption class="gen-docs_names">
              John Doe Wears Website
            </figcaption>
          </figure>
        </div>
        <div class="gen-docs_temps">
          <figure>
            <a href=""> <img src="" alt="" /> </a>
            <figcaption class="gen-docs_names">Mobile App</figcaption>
          </figure>
        </div>

        <div class="gen-docs_temps">
          <figure>
            <a href=""> <img src="" alt="" /></a>
            <figcaption class="gen-docs_names">E-Commerce</figcaption>
          </figure>
        </div> -->
      </div>
    </section>
  </div>
</div>

{% endblock %}