/* You can create your own css files and link them to the relevant pages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.message.on-top {
    position: fixed;
    z-index: 1000;
    right: 50%;
    transform: translateX(50%);
}
body {
    width: 100vw;
    overflow-x: hidden;
}

h1,
p,
button,
a {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
}
