@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Montserrat', sans-serif;   
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

#sidebar {
    width: 256px;
    height: 100vh;
    background-color: #262698;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 10px;
}

.nav-wrapper {
    width: calc(100% - 256px);
    margin-left: 256px;
    transition: all 0.5s ease;
    height: 121px;
    background: #F7F9F7;
    border-bottom: 2px solid #262698;
    border-radius: 0px;
}

.sidebar-logoimg {
    width:206.25px;
    height:76px;
}

.sidebar-logo {
    margin-bottom: 60px;
}

.sidebar-img1 {
    width:20px;
    height:18.99px;
}
.sidebar-img2 {
    width:20px;
    height: 20px;
}
.sidebar-img3 {
    width:20px;
    height: 20px;
}
.sidebar-img4 {
    width:20px;
    height:20.43px;
}
.sidebar-img5 {
    width:20px;
    height:20px;
}
.sidebar-img6 {
    width:20.43px;
    height:20px;
}
.sidebar-img7 {
    width:20px;
    height:25.2px;
}
.sidebar-img8 {
    width:20px;
    height:19.36px;
}
.sidebar-img9 {
    width:50px;
    height:51.20px;
}



.sidebar-a {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #F7F9F7;
    text-align: center;
}

.sidebar-active {
    background: rgba(255, 255, 255, 0.2);
    border-right: 5px solid #F9F8D0;
    width: 100%;
    height: 70px;
    position: absolute;
    left: 0;
    top: 13.5%;
    z-index: -1;
    display: none;
    transition: 0.5s;
}

.sidebar-bg:hover .sidebar-a, .sidebar-bg:active .sidebar-a {
    font-weight: 600;
    color: #F7F9F7;
    transition: 0.3s;
}

.sidebar-bg:hover ~ .sidebar-active, .sidebar-bg:active ~ .sidebar-active{
    display: block;
}

.sidebar-dash:hover ~ .sidebar-active, .sidebar-dash:active ~ .sidebar-active{
    top: 24%;
}

.sidebar-gend:hover ~ .sidebar-active, .sidebar-gend:active ~ .sidebar-active{
    top: 33.5%;
}

.sidebar-gen:hover ~ .sidebar-active, .sidebar-gen:active ~ .sidebar-active{
    top: 43%;
}

.sidebar-arch:hover ~ .sidebar-active, .sidebar-arch:active ~ .sidebar-active{
    top: 52.5%;
}

.sidebar-con:hover ~ .sidebar-active, .sidebar-con:active ~ .sidebar-active{
    top: 73.5%;
}

.sidebar-log:hover ~ .sidebar-active, .sidebar-log:active ~ .sidebar-active{
    top: 81.7%;
}


.sidebar-img {
    display: inline-block;
}

.sidebar-dash {
    margin-bottom: 40px;
}

.sidebar-gend {
    margin-bottom: 40px;
}

.sidebar-gen {
    margin-bottom: 40px;
}

.sidebar-log {
    margin-bottom: 40px;
}

.sidebar-arch {
    margin-bottom: 120px;
}

.sidebar-con {
    margin-bottom: 30px;
}

.nav-p1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #000000;
    padding-top: 16px;
}

.nav-img {
    margin-top: 24px;
    margin-left: 400px;
}
.nav-img1 {
    margin-top: 26px;
    margin-left: 30px;
}

.nav-img2 {
    margin-top: 10px;
    margin-left: 30px;
}

.nav-p2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #192B2B;
    padding-top: 18px;
    padding-left: 10px;
}

#nav-dash {
    margin-right: 200px;
}

#nav-gen {
    margin-right: 200px;
}

#nav-arch {
    margin-right: 200px;
}

#nav-gendocs1 {
    display: block;
}
#nav-gendocs2 {
    display: none;
}

@media screen and (max-width: 500px) and (min-width: 250px) {

    .sidebar-logoimg {
        width:60px;
        height:22.11px;
    }
    .sidebar-img1 {
        width:20px;
        height:18.99px;
    }
    .sidebar-img2 {
        width:20px;
        height: 20px;
    }
    .sidebar-img3 {
        width:20px;
        height: 20px;
    }
    .sidebar-img4 {
        width:20px;
        height:20.43px;
    }
    .sidebar-img5 {
        width:20px;
        height:20px;
    }
    .sidebar-img6 {
        width:20.43px;
        height:20px;
    }
    .sidebar-img7 {
        width:20px;
        height:25.2px;
    }
    .sidebar-img8 {
        width:20px;
        height:19.36px;
    }
    .sidebar-img9 {
        width:30px;
        height:30.72px;
    }

    #sidebar {
        width: 80px;
        height: 857px;
        background-color: #262698;
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 20px;
    }

    .sidebar-a {
        display: block;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: #F7F9F7;
        text-align: center;
    }

    .sidebar-active {
        background-color: rgba(255, 255, 255, 0.2);
        border-right: 0px solid;
        width: 100%;
        height: 70px;
        position: absolute;
        left: 0;
        top: 13.5%;
        z-index: -1;
        display: none;
        transition: 0.5s;
    }

    .sidebar-bg:hover .sidebar-a, .sidebar-bg:active .sidebar-a {
        font-weight: 600;
        color: #F7F9F7;
        transition: 0.3s;
    }

    .sidebar-bg:hover ~ .sidebar-active, .sidebar-bg:active ~ .sidebar-active{
        display: block;
    }

    .sidebar-dash:hover ~ .sidebar-active, .sidebar-dash:active ~ .sidebar-active{
        top: 13.5%;
    }

    .sidebar-gend:hover ~ .sidebar-active, .sidebar-gend:active ~ .sidebar-active{
        top: 24%;
    }

    .sidebar-gen:hover ~ .sidebar-active, .sidebar-gen:active ~ .sidebar-active{
        top: 34.5%;
    }

    .sidebar-arch:hover ~ .sidebar-active, .sidebar-arch:active ~ .sidebar-active{
        top: 44%;
    }

    .sidebar-con:hover ~ .sidebar-active, .sidebar-con:active ~ .sidebar-active{
        top: 67%;
    }

    .sidebar-log:hover ~ .sidebar-active, .sidebar-log:active ~ .sidebar-active{
        top: 74.3%;
    }

    .sidebar-logo {
        margin-bottom: 90px;
    }

    .sidebar-img {
        display: block;
        margin: 0 auto;
    }

    .sidebar-dash {
        display: block;
        margin-bottom: 40px;
    }

    .sidebar-gend {
        display: block;
        margin-bottom: 40px;
    }

    .sidebar-gen {
        display: block;
        margin-bottom: 40px;
    }

    .sidebar-log {
        display: block;
        margin-bottom: 40px;
    }

    .sidebar-arch {
        display: block;
        margin-bottom: 160px;
    }

    .sidebar-con {
        display: block;
        margin-bottom: 20px;
    }

    .nav-wrapper {
        width: calc(100% - 80px);
        margin-left: 80px;
        transition: all 0.5s ease;
        height: 48px;
        background: #F7F9F7;
        border-bottom: 2px solid #262698;
        border-radius: 0px;
    }

    .nav-p1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #080808;
        padding-top: 16px;
    }

    .nav-img {
        margin-top: 15px;
        margin-left: 0px;
    }
    .nav-img1 {
        margin-top: 17px;
        margin-left: 8px;
    }

    .nav-img2 {
        margin-top: 12px;
        margin-left: 8px;
    }

    .nav-p2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        color: #080808;
        padding-top: 18px;
        padding-left: 9px;
    }

    #nav-dash {
        margin-right: 25px;
    }
    
    #nav-gen {
        margin-right: 25px;
    }
    
    #nav-arch {
        margin-right: 25px;
    }
    

    #nav-gendocs1 {
        display: none;
    }
    #nav-gendocs2 {
        display: block;
        font-size: 12px;
        margin-right: 15px;
    }
}