asgiref==3.5.2
certifi==2022.6.15
charset-normalizer==2.1.0
cloudinary==1.29.0
dj-database-url==1.0.0
Django==4.0.6
django-cloudinary-storage==0.3.0
django-countries==7.3.2
django-on-heroku==1.1.2
gunicorn==20.1.0
idna==3.3
Markdown==3.4.1
psycopg2-binary==2.9.3
python-decouple==3.6
python-dotenv==0.20.0
pyuca==1.2
requests==2.28.1
six==1.16.0
sqlparse==0.4.2
typing_extensions==4.3.0
urllib3==1.26.11
whitenoise==6.2.0
