asgiref==3.5.2
Brotli==1.0.9
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
cloudinary==1.29.0
cssselect2==0.6.0
dj-database-url==1.0.0
Django==4.0.6
django-cloudinary-storage==0.3.0
django-countries==7.3.2
django-on-heroku==1.1.2
fonttools==4.34.4
gunicorn==20.1.0
html5lib==1.1
idna==3.3
Markdown==3.4.1
Pillow==9.2.0
psycopg2-binary==2.9.3
pycparser==2.21
pydyf==0.2.0
pyphen==0.12.0
python-decouple==3.6
python-dotenv==0.20.0
pyuca==1.2
requests==2.28.1
six==1.16.0
sqlparse==0.4.2
tinycss2==1.1.1
typing_extensions==4.3.0
tzdata==2022.1
urllib3==1.26.11
weasyprint==56.1
webencodings==0.5.1
whitenoise==6.2.0
zopfli==0.2.1
