@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3D9D9;
    max-height: 100%;
}

.container {
    background-color: #F7F9F7;
    margin: 10% 10%;
    border-radius: 4px;
    box-shadow: 0px 4px 32px 25px rgba(71, 75, 71, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#coming-soon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.header-soon {
    text-transform: uppercase;
    width: 361px;
    height: 156px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    letter-spacing: 0.24em;
    color: #131313;
    padding-bottom: 10%;
}

.blue-o {
    color: blue;
}

.construction {
    width: 376px;
    height: 98px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: #131313;
    padding-bottom: 10%;
}

.notify-me {
    background: #E2DA15;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    border: none;
    color: #080808;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 10px;
    width: 290px;
    height: 71px;
    margin-top: 10%;
}

@media  screen and (max-width: 414px) {
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: #F3D9D9;
        max-height: 100%;
    }
    
    .container {
        background-color: #F7F9F7;
        margin: 40% 10%;
        border-radius: 4px;
        box-shadow: 0px 4px 32px 25px rgba(71, 75, 71, 0.25);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    
    #coming-soon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    
    .header-soon {
        text-transform: uppercase;
        width: 294px;
        height: 136px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 68px;
        text-align: center;
        letter-spacing: 0.16em;
        color: #131313;
        padding: 10% 40%;
    }
    
    .blue-o {
        color: blue;
    }
    
    .construction {
        width: 226px;
        height: 58px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #131313;
        padding-bottom: 10%;
    }
    
    .notify-me {
        background: #E2DA15;
        font-family: 'Montserrat', sans-serif;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 10px;
        width: 211px;
        height: 50px;
        border-radius: 4px;
        margin-top: 10%;
    }
    

}