/* taiwoak's css start*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    width: 100%;
}

h1, p, button, a {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
   }

a {
    display: block;
    text-decoration: none;
   }


/*.main-tc-2o {
    padding-top: 50px;
}*/

#hide {
    display: none;
}

.main-tc-2-h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #131313;
}

.main-tc-2-p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #262626;
}

.main-tc-3o {
    padding-bottom: 75px;
}

.main-tc-3-h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #131313;
    padding-bottom: 20px;
}

.main-tc-3-h1-2 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    color: #191919;
}

.main-tc-3-p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    position: relative;
    left: 25px;
}

.main-tc-3-img {
    position: relative;
}

.main-hr {
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 75px;
}

.main-tc-3-btn {
    width: 311px;
    height: 91px;
    padding: 10px;
    background-color: #2D2DB6;
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FAFAFA;
    border: none;
    position: absolute;
    left: 73px;
    top: 550px;
}

.main-tc-3-btn:hover {
    background: #5050C2;
    box-shadow: 0px 4px 12px rgba(56, 56, 56, 0.3);
    border-radius: 4px;
}

.main-tc-3-btn:active {
    background: #1E1E79;
    box-shadow: 0px 4px 12px rgba(56, 56, 56, 0.3);
    border-radius: 4px;
}


#main-tc-4 {
    background-color: #262698;
    padding: 80px 100px 70px 100px;
}

.main-tc-4-h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
    color: #FEF7F7;
}

.main-tc-4-btn {
    width: 465px;
    height: 75px;
    padding: 10px;
    background-color: #E2DA15;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #403D3D;
    border: none;
    margin-top: 32px;

}

.main-tc-4-btn:hover {
    background-color: #E2DA15;
    border: 2px solid #080808;
    border-radius: 4px;
    box-shadow: 0px 4px 12px rgba(56, 56, 56, 0.3);
}

.main-tc-4-btn:active {
    background-color: #BCB612;
    border: 2px solid #080808;
    border-radius: 4px;
}

#main-tc-5 {
    padding: 105px 0px 61px 0px;
}

.main-tc-5-h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 80px;
    color: #5050C2;
    padding-bottom: 24px;
}

.main-tc-5-faq {
    width: 100%;
    background: #FFFFFF;
    border: 0.994889px solid #D6E2D6;
    border-radius: 4px;
    margin-bottom: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    color: #262626;
}

.main-tc-5-faq-2 {
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    position: relative;
    top: -20px;
}

#main-tc-6 {
    padding-bottom: 59px;
}

.main-tc-6-h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    color: #E4ECE4;
    padding-top: 102.9px;
    text-align: center;
}

.main-tc-6-p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 23.8987px;
    line-height: 40px;
    color: #D6E2D6;
    position: relative;
    right: 25px;
}

.main-tc-7 {
    padding-left: 100px;
}

.main-tc-7-br {
    border-right: 6px solid #DDE7DD;
    padding-left: 80px;
    height: 855px;
    position: relative;
    top: 35px;
}

.main-tc-7-h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 75.281px;
    color: #E4ECE4;
}

.main-tc-7-name {
    display: block;
    width: 147px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 23.8987px;
    line-height: 29px;
    color: #E4ECE4;
    padding: 24px 0 10px 0;
}

.main-tc-7-input {
    padding: 14.9367px 22.903px;
    gap: 9.96px;
    height: 69.7px;
    background-color: #E4ECE4;
    border-radius: 4.9789px;
    border: none;
    margin-bottom: 48px;
    font-size: 26px;
    letter-spacing: 0.5px;
}

.main-tc-7-input:focus {
    outline: none;
    border: 2px solid rgba(3, 81, 98, 0.8);
    border-radius: 4px;
    background-color: #E4ECE4;
}

.main-tc-7-textarea:focus {
    outline: none;
    border: 2px solid rgba(3, 81, 98, 0.8);
    border-radius: 4px;
    background-color: #E4ECE4;
}

.main-tc-7-input::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 19.9156px;
    line-height: 40px;
    color: #4A4A4A;
}

.main-tc-7-email {
    display: block;
    width: 89px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 23.8987px;
    line-height: 29px;
    color: #E4ECE4;
    padding-bottom: 10px;
}

.main-tc-7-text {
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 23.8987px;
    line-height: 29px;
    color: #E4ECE4;
    padding-bottom: 10px;
}

.main-tc-7-textarea {
    display: block;
    padding: 23.8987px;
    gap: 9.96px;
    height: 233.1px;
    background-color: #E4ECE4;
    border-radius: 4.9789px;
    border: none;
    margin-bottom: 66.15px;
    font-size: 26px;
    letter-spacing: 0.5px;
}

.main-tc-7-textarea::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 19.9156px;
    line-height: 29px;
    color: #4A4A4A;
}

.main-tc-7-submit {
    width: 329.39px;
    height: 89.9px;
    background-color: #E2DA15;
    border-radius: 11.6746px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 31.001px;
    line-height: 31px;
    text-align: center;
    color: #0A0A09;
    margin-bottom: 80px;

}

.main-tc-7-submit:hover {
    background-color: #E2DA15;
    border: 2px solid #080808;
    box-shadow: 0px 4px 12px rgba(56, 56, 56, 0.3);
}

.main-tc-7-submit:active {
    background-color: #BCB612;
    border: 2px solid #080808;
}

.main-tc-8 {
    padding: 0px 0px 0px 100px;
}

.main-tc-8-con {
    padding-bottom: 60px;
}

.main-tc-8-h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 75.281px;
    color: #E4ECE4;
    padding-bottom: 25px;
}

.main-tc-8-pa {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #E4ECE4;
    position: relative;
    top: -10px;
    right: 25px;
}

.main-tc-8-pb {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #E4ECE4;
    position: relative;
    top: -10px;
    right: 23px;
}

.main-tc-8-pa2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: -10px;
    right: 25px;
}

.main-tc-8-pb2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: -10px;
    right: 20px;
}

.main-tc-8-pc {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #DDE7DD;
    position: relative;
    top: 5px;
    right: -10px;
}

.main-tc-8-ul {
    display: block;
    justify-content: start;
}

.main-tc-9-p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #D6E2D6;
}

.main-tc-10-p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FAFAFA;
    padding-bottom: 24px;
}

.main-tc-10-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FAFAFA;
    padding-bottom: 12px;
}

.main-tc-11 {
    padding-bottom: 37.2px;
}

.main-tc-11-p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 64px;
    color: #E4ECE4;
    position: relative;
    right: 40px;
    top: 8px;
}

.main-tc-11-input {
    width: 441px;
    height: 53px;
    border: 3px solid #B2BCB2;
    background-color: #1E1E79;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    padding: 10px 10px;
}

.main-tc-11-sub {
    padding: 10px 30px;
    width: 181px;
    height: 55px;
    background-color: #E2DA15;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #0A0A09;
    border: none;
    position: relative;
    top: 0px;
    right: 8px;
}

.main-tc-11-sub:hover {
    height: 59px;
    background-color: #E2DA15;
    border: 2px solid #080808;
    border-radius: 4px;
    box-shadow: 0px 4px 12px rgba(56, 56, 56, 0.3);
}

.main-tc-11-sub:active {
    height: 59px;
    background-color: #BCB612;
    border: 2px solid #080808;
    border-radius: 4px;
}

.main-tc-12-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #DDE7DD;
    padding-left: 129px;
}

.main-tc-12 {
    padding-top: 35px;
    padding-bottom: 35px;
}

.main-tc-12-img {
    margin-left: 16px;
}

.main-tc-12-i {
    margin-right: 97px;
}

.footer {
    /* height: 1745px; */
    background-color: #1E1E79;
    width: 100%;
}
.footer2 {
    /* height: 1745px; */
    background-color: #1E1E79;
    width: 100%;
}
.footer3 {
    /* height: 1745px; */
    background-color: #1E1E79;
    width: 100%;
}

.footer-hr1 {
    background-color: #1E1E79;
    border: 2px solid rgba(255, 248, 248, 0.5);
}

.footer-content {
    padding: 70px 75px 35px 75px;
}

@media screen and (max-width: 1327px) and (min-width: 1200px){
    .main-tc-2o {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .main-tc-2 {
        flex: 50%;
        width: 50%;
    }
    .main-tc-2-img {
        flex: 50%;
    }
    .main-tc-3o {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .main-tc-3 {
        flex: 50%;
    }
    .main-tc-3-img {
        flex: 50%;
    }
    #main-tc-4 {
        width: 100%;
    }
    .main-tc-7o {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .main-tc-7 {
        flex: 45%;
        margin: 0 auto;
        width: 45%;
        padding-left: 50px;
    }
    .main-tc-8 {
        flex: 45%;
        margin: 0 auto;
        width: 45%;
        padding-left: 50px;
    }
}

@media screen and (max-width: 767px) and (min-width: 100px){

    .main-tc-2o {
        margin-top: 50px;
        display: flex;
        flex-direction: column-reverse;
    }

    .main-tc-2 {
        width: 100%;
    }


    .main-tc-4-btn {
        width: 300px;
    }

    .main-tc-7 {
        padding-left: 0px;
        padding: 0 30px;
        border-bottom: 6px solid #DDE7DD;
    }

    .main-tc-7-h1 {
        padding: 0;
        text-align: center;
    }

    .main-tc-7-br {
        display: none;
    }

    .main-tc-8 {
        padding: 50px 0px;
        justify-content: center;
    }

    .main-tc-8-h1 {
        text-align: center; 
    }

    .main-tc-8-con {
        width: 100%;
        margin: 0 auto;
        display: block;
        justify-content: center;
        padding-bottom: 20px;
    }

    .main-tc-8-con1 {
        position: relative;
        left: -25px;
    }

    .main-tc-8-con2 {
        width: 100%;
        margin: 0 auto;
        display: block;
        justify-content: center;
        position: relative;
        left: -25px;
    }

    .footer-logo {
        display: block;
        justify-content: center;
    }

    .main-tc-9-img {
        display: block;
        margin: 0 auto;
    }

    .footer-content {
        display: grid;
    }

    .footer-logo {
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
    }

    .footer-link1 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    .footer-link2 {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1
    }

    .footer-link3 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }

    .footer-link4 {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }

    .main-tc-11-p {
        text-align: center;
        position: relative;
        right: 5px;
    }

    .main-tc-11f {
        display: flex;
        justify-content: center;
    }

    .main-tc-11-input {
        width: 250px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
        padding: 10px 10px;
    }
    
    .main-tc-11-sub {
        padding: 10px 10px;
        width: 120px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        position: relative;
        top: -1px;
        right: 8px;
    }

    .main-tc-11-sub:active {
        position: relative;
        top: -2px;
    }

    .main-tc-12-link {
        padding-left: 0px;
        text-align: center;
    }

    .main-tc-12-i {
        display: block;
        margin-right: 0px;
        width: 100%;
        padding: 20px 0 0 0;
        display: flex;
        justify-content: center;
    }


}

@media (max-width: 671px) {
    .main-tc-2-i {
        width: 400px;
        height: 400px;
    }

}

@media (max-width: 575px) {

    .main-tc-2 {
       width: 90%;
    }

    .main-tc-3 {
        width: 90%;
     }

    .main-tc-3-h1{
        padding-left: 20px;
    }

    .main-tc-3-h1p{
        padding-left: 20px;
    }

    .main-tc-3-h1-2 {
        font-size: 30px;
    }

    .main-tc-3-p {
        position: relative;
        left: 19px;
    }

    #main-tc-5 {
        width: 90%;
    }

    .footer-content {
        padding: 70px 25px 35px 25px;
    }

    .main-tc-6-p {
        font-size: 20px;
    }

    .main-tc-7-h1 {
        font-size: 50px;
    }

    .main-tc-8-h1 {
        font-size: 50px;
    }

    .main-tc-3-img {
        padding-left: 40px;
    }
    
    .main-tc-3-i {
        width: 400px;
        height: 550.82px;
    }

    .main-tc-3-btn {
        width: 254.92px;
        position: absolute;
        left: 100px;
        top: 460px;
    }

}

@media screen and (max-width: 450px) and (min-width: 250px) {

    .main-tc-2-i {
        width: 300px;
        height: 300px;
    }

    .main-tc-2-h1 {
        font-size: 28px;
        line-height: 36px;
    }
    
    .main-tc-2-p {
        font-size: 18px;
        line-height: 36px;
    }

    .main-tc-3-h1 {
        font-size: 28px;
        line-height: 36px;
    }

    .main-tc-3-h1-2 {
        font-size: 22px;
        line-height: 36px;
    }
    
    .main-tc-3-p {
        font-size: 18px;
        line-height: 36px;
        position: relative;
        left: 13px;
    }

    #maintcp {
        display: none;
    }

    .main-tc-3-i {
        width: 290.48px;
        height: 400px;
    }

    .main-tc-3-btn {
        width: 185.12px;
        height: 60px;
        position: absolute;
        left: 65px;
        top: 340px;
        font-size: 16px;
    }

    .main-tc-3-img {
        padding-left: 20px;
    }

    #main-tc-4 {
        padding: 25px 20px 30px 20px;
    }

    .main-tc-4-btn {
        height: 50px;
        margin-top: 12px;
    }

    .main-tc-4-h1 {
        font-size: 24px;
        line-height: 40px;
    }

    .main-tc-4-btn {
        width: 185px;
    }

    #main-tc-5 {
        padding: 50px 0px 30px 0px;
    }
    
    .main-tc-5-h1 { 
        font-size: 60px;
        line-height: 60px;
        padding-bottom: 20px;
    }
    
    .main-tc-5-faq {
        font-size: 14px;
        line-height: 20px;
        padding: 10px 10px;
        margin-bottom: 30px;
    }
    
    .main-tc-5-faq-2 {
        font-size: 14px;
        line-height: 24px;
    }

    .main-tc-6-h1 {
        font-size: 25px;
        line-height: 25px;
        padding-top: 50px;
    }

    .main-tc-6-p {
        font-size: 14px;
        line-height: 16px;
        position: relative;
        right: 0px;
    }

    .main-tc-7-h1 {
        font-size: 35px;
    }

    .main-tc-7-name {
        font-size: 18px;
        line-height: 18px;
    }

    .main-tc-7-email {
        font-size: 18px;
        line-height: 18px;     
    }

    .main-tc-7-text {
        font-size: 18px;
        line-height: 18px;    
    }

    .main-tc-7-input {
        padding: 10px 10px;
        height: 40px;
        font-size: 18px;
        margin-bottom: 30px;
    }

    .main-tc-7-input::placeholder {
        font-size: 18px;
        line-height: 23px;
    }

    .main-tc-7-textarea {
        padding: 10px 10px;
        height: 200px;
        font-size: 18px;
        margin-bottom: 30px;
    }

    .main-tc-7-textarea::placeholder {
        font-size: 18px;
        line-height: 23px;
    }

    .main-tc-7-submit {
        width: 130px;
        height: 50px;
        font-size: 20px;
    }

    .main-tc-8-con {
        width: 90%;
    }

    .main-tc-8-con1 {
        position: relative;
        left: -16px;
    }

    .main-tc-8-con2 {
        position: relative;
        left: -23px;
    }
    #maintc8i {
        width: 53.9px;
        height: 43.89px;
    }
    #maintc8i2 {
        width: 43.89px;
        height: 46.97px;
    }
    #maintc8i3 {
        width: 50px;
        height: 50px;
    }

    .main-tc-8-h1 {
        font-size: 35px;
    }

    .main-tc-8-pa {
        font-size: 16px;
        top: -3px;
        right: 24px;
    }

    .main-tc-8-pa2 {
        font-size: 16px;
        top: -3px;
        right: 23px;
    }
    .main-tc-8-pb {
        font-size: 16px;
        top: -3px;
        right: 23px;
    }
    .main-tc-8-pb2 {
        font-size: 16px;
        top: -3px;
        right: 20px;
    }
    .main-tc-8-pc {
        font-size: 16px;
        top: 5px;
        right: -10px;
    }

    .footer-content {
        padding: 50px 25px 35px 0px;
    }

    .main-tc-11-p {
        font-size: 20px;
    }

    .main-tc-11-input {
        width: 150px;
        height: 40px;
        font-size: 12px;
    }
    
    .main-tc-11-sub {
        padding: 5px 5px;
        width: 80px;
        height: 40px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        position: relative;
        top: 0px;
        right: 8px;
    }

    .main-tc-11-sub:active {
        height: 42px;
        position: relative;
        top: -1px;
    }

    .main-tc-11-sub:hover {
        width: 82px;
        padding: 5px 3px;
        height: 42px;
        position: relative;
        top: -1px;
    }

    .main-tc-12-link {
        font-size: 18px;
    }
}

/* taiwoak's css end*/