<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="{% static 'asset/images/Vector2.png'%}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>Terms and Conditions Generator</title>

    <!-- Change version number to force static files to reload styles -->

    <link
      rel="stylesheet"
      href="{% static 'css/landing/dinho.css' %}?version=0"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/landing/taiwo.css' %}?version=0"
    />
  </head>

  <body>
    <!-- This is the landing page -->
    <!-- Include blocks from the block folder -->

    <main class="project">
      <!-- Responsive navbar -->
      {% include 'tc_site/blocks/layout/landing/navbar.html' %}
      <!-- Responsive navbar -->

      <!-- header-section This content is inside the ./landing/hero.html file-->
      {% include 'tc_site/blocks/landing/hero.html' %} {% block content %} {%
      endblock content %}
      <!-- header-section -->

      <!-- main-section-one -->

      {% include 'tc_site/blocks/landing/main-section-1.html' %}

      <!-- main-section-one -->

      <!-- main-section-two -->

      {% include 'tc_site/blocks/landing/main-section-2.html' %}

      <!-- main-section-two -->

      <!-- main-section-three -->

      {% include 'tc_site/blocks/landing/main-section-3.html' %}

      <!-- main-section-three -->

      <!-- taiwoak's html landing page codes-->
      <!-- main-section-four -->

      {% include 'tc_site/blocks/landing/main-section-4.html' %}

      <!-- main-section-four -->

      <!-- main-section-five -->

      {% include 'tc_site/blocks/landing/main-section-5.html' %}

      <!-- main-section-five -->

      <!-- main-section-six -->

      {% include 'tc_site/blocks/landing/main-section-6.html' %}

      <!-- main-section-six -->

      <!-- main-section-seven -->

      {% include 'tc_site/blocks/landing/main-section-7.html' %}

      <!-- main-section-seven -->

      {% include 'tc_site/blocks/layout/landing/footer.html' %}
    </main>
    <!-- end of taiwoak's html code-->

    <!-- Loader animation -->
    {% include 'tc_site/blocks/loading.html' %}
    <!-- Loader animation -->

    <!-- Change version number to force static files to reload javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/main.js' %}?version=1"></script>
  </body>
</html>
