{% extends 'tc_site/pages/landing/base.html' %}
{% block content %}
<style>
    .modals.forgot_container #forgot_btn {
        transition: letter-spacing 0.3s;
        letter-spacing: normal;
    }

    .modals.forgot_container #forgot_btn:hover {
        color: white;
        cursor: pointer;
        letter-spacing: 1.2px;
    }
</style>
<div class="alert alert-info py-5 text-center container modals forgot_container"
    style="font-size: 1.5rem; min-height: 90vh; display: grid; place-content: center">
    Your password has been set
    <a id="forgot_btn" class="button" href="{% url 'tc_site:login' %}">Back to login</a>
</div>
{% endblock %}