{% extends 'tc_site/pages/landing/base.html' %}

{% load static%}
{% block meta %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/auth/forgot-password.css' %}?version=8" />
{% endblock meta %}

{% block content %}
<div id="forgot-password-modal" class="backdrop-wrapper" style="display: grid">
    <div class="backdrop"></div>

    <div class="modals forgot_container">
        <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
        <p class="heading">Forgot Password?</p>

        <form action="#" method="post" id="forgot-password-form">
            {% csrf_token %}
            <div class="text">
                Don’t worry! Resetting your password is easy. Just type in the email you registered to QuickTerms.
            </div>
            {{form}}
            <div class="btn-forgot-container">
                <button class="button" type="submit" id="forgot_btn">Send</button>
            </div>
        </form>

        <p class="question">Did you remember your password?</p>
        <p class="log-in"><a href="{% url 'tc_site:signin' %}">Try logging in</a></p>
    </div>
</div>
<!-- Bootstrap JS -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'js/modals.js' %}?version=16"></script>

{% endblock %}