{% extends 'tc_site/pages/landing/base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/auth/reset-password.css' %}?version=1" />
{% endblock %}
{% block content %}

<div style="padding-top: 5rem; z-index: 10; background: yellow; color: black; font-size: 2rem">

    <form method="POST">
        {% csrf_token %}
        <h2>Reset Password</h2>
        {{ form }}
        <button type="submit"> Request Password Reset </button>
    </form>
</div>

{% endblock %}