{% extends 'tc_site/pages/landing/base.html' %}


{% load static %}
{% block meta %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/auth/reset-password.css' %}?version=6" />
{% endblock %}

{% block content %}

<div id="reset-password-modal" class="backdrop-wrapper" style="display: grid">
  <div class="backdrop"></div>

  <div class="modals reset_container">
    <p class="heading">Reset Password</p>
    
    <form action="{% url 'tc_site:password_reset_complete' %}" method="POST" id="reset-password-form">
      {% csrf_token %}
      <div class="text">
        Please Enter your New Password and Confirm
      </div>
      <div class="fields">
        <label for="new-password">Enter New Password</label>
        <div class="icon_group">
          <input type="password" class="password" name="new_password1" required id="id_new_password1" placeholder="" required>
        </div>
      </div>
      
      <div class="fields">
        <label for="confirm-password">Confirm New Password</label>
        <div class="icon_group">
          <input type="password" class="password" name="new_password2" required id="id_new_password2" placeholder="" >
        </div>
      </div>
      
      
      <div class="btn-reset-container">
        <button class="button" type="submit" id="reset">Reset</button>
      </div>
    </form>
    
    <p class="question">Remembered your old password?</p>
    <p class="log-in"><a>Try logging in</a></p>
  </div>
</div>

<!-- Bootstrap JS -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'js/modals.js' %}?version=16"></script>
{% endblock %}