@import url("https://use.typekit.net/bpd3bxi.css");

#dashboard-archive {
  --main-color: rgb(255, 255, 255);
  --main-blue: rgb(45, 45, 182);
  --shadow-grey: rgba(146, 146, 146);
  --button-grey: rgba(214, 226, 214, 1);
}

/* General styles */
#dashboard-archive {
  font-size: 16px;
}

/* Button styles  */
#dashboard-archive a {
  text-decoration: none;
  color: black;
}

#dashboard-archive div.upper-sect {
  padding: 2.5rem 0.2rem!important;
}

#dashboard-archive button.create-folder {
  background-color: var(--button-grey);
  padding: 12px 10px!important;
  border: none;
  border-radius: 4px;
}

/* Detail/Accordion stylings */

#dashboard-archive #det-cont {
  margin: 1rem 0.2rem 1.8rem!important;
}

#dashboard-archive div.det-heads {
  display: flex;
  flex-direction: row;
}

#dashboard-archive div.det-heads > i {
  margin: 15px 2px 2px 0px!important;
}

#dashboard-archive details.detail-titles {
  flex-grow: 1;
}

#dashboard-archive details.detail-titles summary {
  list-style: none;
  padding: 1rem 0.4rem 0.7rem!important;
  cursor: pointer;
  border-bottom: 1px solid #aaa;
}
#dashboard-archive details.detail-titles .delete {
  float: right;
  margin-right: 2rem;
  padding: 0.1rem 1rem;
  background-color: hsl(0, 100%, 70%);
  color: white;
}
#dashboard-archive details.detail-titles .delete:hover {
  background-color: hsl(0, 100%, 80%);
}
#dashboard-archive details.detail-titles .edit {
  float: right;
  margin-right: 2rem;
  padding: 0.1rem 1rem;
  background-color: hsl(240, 60%, 65%);
  color: white;
}
#dashboard-archive details.detail-titles .edit:hover {
  background-color: hsl(240, 60%, 75%);
}

/* Detail list stylings */

#dashboard-archive .acc-links {
  padding: 1rem .5rem!important;
  background-color: rgba(0,0,0,0.05);
}

#dashboard-archive .acc-links p {
  padding: 0.2rem!important;
  margin: 0.1rem 0.2rem 0.3rem!important;
}

#dashboard-archive .acc-links p:hover {
  transition: 200ms;
  letter-spacing: 0.5px;
  /* font-size: 16.5px; */
}

#dashboard-archive .btm-sect {
  display: flex;
  flex-direction: column;
}

#dashboard-archive .sect-head {
  margin-bottom: 0.6rem!important;
}

#dashboard-archive .btm-sect-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 0.8rem;
}

#dashboard-archive .btm-sect-cont {
  flex: 1;
  text-align: center;
  padding: 8px!important;
  gap: 8px!important;
  border-radius: 16px;
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
}

#dashboard-archive #btm-sect-cont-red {
  background-color: rgba(243, 217, 217, 1);
}
#dashboard-archive #btm-sect-cont-yellow {
  background-color: rgba(245, 243, 177, 1);
}

#dashboard-archive .btm-sect .num-cont {
  background-color: rgba(247, 249, 247, 1);
  text-align: center;
  margin: 0rem 46%!important;
}
