@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap");



/****** main-section-one Styling*********/

#main {
    transition: all .5s ease;
    background: #F7F9F7;
}

#main-section-one{
    padding: 2rem 6rem 1rem 2rem;
}


#main-section-one #comp-1{
    background-color: #ffffff;
    padding: 30px;
}


.comp-text{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.comp-text{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

#comp-1 {
    position: relative;
}

#comp-1 .move-mid{
    position: absolute;
    top: 45%;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

#comp-1 .clinge{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    padding-top: 20px;
}

#comp-1 .clinge-total{
    font-weight: 700;
    font-size: 24px;
    line-height: 29.26px;
}


/****** main-section-one Styling*********/



/****** main-section-two  Styling*********/
#main-section-two{
    margin-top: 1.5rem;
    padding: 2rem 5rem 0rem 2rem;
}

.pend-text{
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: #000000;
}

#sub-section{
    background: #FFFFFF;
    padding: 2rem;
}

#sub-section-one{
    background: #D4D4D4;
}

.top-sec-main{
    background: #D4D4D4;
    padding: 10px;
    border-radius: 16px;
    margin: 1.5rem .2rem;
}

.top-sec{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.top-sec-text{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color:#0D0D0D;
}

.top-btn{
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    color: #F7F9F7;
    background: #2D2DB6;
    border-radius: 8px;
    padding: 5px;
    border: transparent;
}

.top-btn:hover{
    color: #2D2DB6;
    background: #F7F9F7;
}


.top-sec-main .progress-bar{
    background: #F7F9F7;;
    width: 100%;
    height: 32px;
    border-radius: 16px;
}

.top-sec-main .progress, .progress2{
    background: #C53F3F;
    width: 350px;
    height: 100%;
    border-radius: 16px;
}

.top-sec-main .loading, .loading2{
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
    margin: -3px 4px;
}

#move-to-end {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

/****** main-section-two  Styling*********/



/****** main-section-three  Styling*********/

#main-section-three{
    margin-top: 1rem;
    padding: 2rem 5rem 2rem 2rem;
}

.sum-txt{
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: #000000;
}


#color-1,#color-2{
    border-radius: 16px;
    margin: auto 2rem;
    max-width: max-content;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 18px 110px;
}

#color-1{
    background: #F3D9D9;
}
#color-2{
    background: #F5F3B1;
}

.col-txt-1{
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    color: #080808;
    padding: 2px 6px;
    margin-bottom: 4px;
}

.col-txt-2{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #080808;
    width: 15%;
    padding: 5px;
    margin: 13px auto;
    background-color:  #F7F9F7;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
}

/****** main-section-three  Styling*********/




/****** media Query *********/

@media screen and (max-width: 1024px){
    .col-md-3 {
        flex: 0 0 auto;
        width: 23%;
    }
}

@media screen and (max-width: 768px){
    
    #comp-1 .clinge{
        text-align: center;
        font-weight: 400;
        font-size:16px;
        line-height: 40px;
        padding-top: 20px;
    }

    #comp-1 .clinge-total{
        font-weight: 700;
        font-size: 20px;
        line-height: 29.26px;
    }

    .top-btn {
        font-size: 14px;
        font-weight: 600;
        line-height: 32px;
        color: #F7F9F7;
        background: #2D2DB6;
        border-radius: 8px;
        padding: 2px;
        border: transparent;
    }
    .top-sec-main .loading, .loading2 {
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
        color: #000000;
        margin: -6px 4px;
    }
    #color-1,#color-2{
        border-radius: 16px;
        margin: auto 2rem;
        max-width: max-content;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 18px 5px;
    }
}

@media screen and (max-width: 600px){
   
    #main-section-one{
        padding: 1rem 2.5rem;
    }
   
    #main-section-two{
        padding: 1rem 2.7rem;
    }
    #main-section-three{
        padding: 1rem 2.7rem;
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 50%;
        grid-column: column;
        padding:.2rem;
    }
}

@media screen and (max-height: 450px) {

    .col-md-3 {
        flex: 0 0 auto;
        width: 50%;
        grid-column: column;
        padding:.2rem;
    }
}
