@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Montserrat', sans-serif;   
}

.form-mobile{
    display: none;   
}

.dash-profile {
    display: block;
    /* width: calc(100% - 256px); */
    width: 100%;
    /* margin-left: 256px; */
    transition: all 0.5s ease;
    background-color:  #F7F9F7;
    padding: 50px 50px 50px 25px;
}

.profile-avatar-img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: 25px;
    left: 45px;
}

.prof-input-file {
   display: none;
}

.prof-input-img {
    display: block;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #6C5D5D;
    position: relative;
    top: 30px;
    left: 65px;
}

.profile-form {
    display: block;
    position: relative;
    top: 20px;
}

.table-con {
    position: relative;
    top: 15px;
}

.table-con-3 {
    padding-top: 25px;
}

.td-left {
    display: block;
    position: relative;
    left: 25px;
}

.basic-info-h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 39px;
    color: #2D2DB6;  
    padding-bottom: 10px;
    border-bottom: 2px solid #C4B5B5;
    width: 650px;
}

.form-label-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #263238;
    padding-bottom: 10px;
}

.form-label-username {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #263238;
    padding-bottom: 10px;
}

.form-name {
    display: block;
    height: 45px;
    width: 300px;
    background: #FFFFFF;
    border: 1px solid #263238;
    border-radius: 8px;
    padding: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #131313;
}

.input-edit-img1 {
    position: relative;
    top: -35px;
    left: 250px;
}
.input-edit-img2 {
    position: relative;
    top: -35px;
    left: 250px;
}
.input-edit-img3 {
    position: relative;
    top: -35px;
    left: 575px;
}
.input-edit-img4 {
    position: relative;
    top: -35px;
    left: 575px;
}
.input-edit-img5 {
    position: relative;
    top: -35px;
    left: 575px;
}

.form-name::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #6C5D5D;
    position: relative;
    left: 10px;
}

.form-name:focus {
    outline: none;
    background: #FFFFFF;
    border: 2px solid #2D2DB6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}


.form-user {
    display: block;
    height: 45px;
    width: 625px;
    background: #FFFFFF;
    border: 1px solid #263238;
    border-radius: 8px;
    padding: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #131313;
}

.form-user::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #6C5D5D;
    position: relative;
    left: 10px;
}

.form-user:focus {
    outline: none;
    background: #FFFFFF;
    border: 2px solid #2D2DB6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.basic-info {
    padding-bottom: 50px;
}

.contact-info-h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 39px;
    color: #2D2DB6;  
    padding-bottom: 10px;
    border-bottom: 2px solid #746C6C;
    width: 650px;
}

.form-label-email {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #263238;
    padding-bottom: 10px;
}

.form-label-phone {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #263238;
    padding-top: 25px;
    padding-bottom: 10px;
}

.form-con-prof {
    padding-top: 10px;
}

.form-con-prof1 {
    position: relative;
    top: 15px;
}

.form-prof-save {
    padding: 10px;
    gap: 10px;
    width: 200px;
    height: 50px;
    background: #252598;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 50px 0px;
}

.form-prof-save:hover {
    background-color: #2D2DB6;
    border: 2px solid #080808;
    box-shadow: 0px 4px 12px rgba(56, 56, 56, 0.3);
}

@media screen and (max-width: 991px) {

    .profile-form {
        position: relative;
        left: 75px;
    }
}

/* tablet media query */

@media screen and (max-width: 767px) {

    .profile-form {
        display: block;
        position: relative;
        top: 40px; 
        left: 40px;
    }

    .basic-info-h1 {
        width: 300px;
    }

    .contact-info-h1 {
        width: 300px;
    }

    .td-left {
        display: none;
    }

    .form-mobile{
        display: block;   
    }

    .form-name {
        width: 250px;
    }

    .form-user {
        width: 250px;
    }

    .input-edit-img1 {
        position: relative;
        top: -35px;
        left: 210px;
    }
    .input-edit-img2 {
        position: relative;
        top: -35px;
        left: 210px;
    }
    .input-edit-img3 {
        position: relative;
        top: -35px;
        left: 210px;
    }
    .input-edit-img4 {
        position: relative;
        top: -35px;
        left: 210px;
    }
    .input-edit-img5 {
        position: relative;
        top: -35px;
        left: 210px;
    }

    .form-label-name, .form-label-username {
        font-size: 12px;
        line-height: 15px;
    }
    
    .form-name::placeholder, .form-user::placeholder {
        font-size: 14px;
        line-height: 20px;
    }
  
}

