@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: 'border-box';
    font-family: 'Montserrat', sans-serif;
}







/* Header section */

#header-section {
    background:  #F5F5F5;
}

#header-section .container{
    padding: 40px;
    height: 100vh;
}

.header-img{
    width: 100%;
    max-width: 569px;
    height: 100%;
    max-height: 569px;
}

.header-text-one{
    font-size: 56px;
    line-height: 68px;
    font-weight: 700;
    color: #131313;
    padding-bottom: 20px;
}

.header-text-two{
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: #262626;
    padding: 30px 0px;
}


.header-btn-one{
    width: 100%;
    max-width: 348px;
    height: 100%;
    max-height: 91px;
    border-radius: 4px;
    padding: 12px 10px;
    background: #262698;
    color: #EAF0EA;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    border: transparent;

}

.header-btn-one:hover{
    background: #5050C2;
    transition: .5s;
}

/* Header section */



/* main-section-one section  */

#main-section-one{
    background: #1E1E79;
    text-align: center;
    padding: 60px 120px;
}

.main1-txt-one,.main1-txt-two,.temps-txt-1,.temps-txt-2{
    color: #FFFFFF;
}

.main1-txt-one{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    padding-bottom: 30px;
}

#cards-temp{
    padding: 0px 88px;
}

.card-img{
    max-width: 100%;
    width: 189px;
    height: 149px;
    max-height: 100%;
}

.temps-txt-1{
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;

}

.temps-txt-2{
    align-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 0px 55px;
}

/* main-section-one section */



/* main-section-two section */
.main-section-two{
    background: #F5F5F5;
    text-align: center;
    padding: 83px 40px;
}

.counter-container{
    padding: 10px 0px;
}

.count-num{
    color: #131313;
    font-size: 48px;
    line-height: 39.83px;
    font-weight: 600;

}

.count-txt{
    color: #000000;
    font-size: 32px;
    line-height: 39.83px;
    font-weight: 400;
}


/* main-section-two section */


/* main-section-three section */

.main-section-three{
    padding: 100px 140px;
}

.main3-img{
    width: 100%;
    max-width: 585px;
    height: 100%;
    max-height: 513px;
}
.main3-txt-head{
    color: #222121;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
}

.main3-txt-body{
    color: #262626;
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
}

/* main-section-three section */

/* Animation section */

.loader{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background: #D5D5F0;
    z-index: 100;
}

.loader img{
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translateY(10px);
    animation: moveup 1s ease infinite;
}

@keyframes moveup {
    0%{
        transform: translateY(-15px);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(-15px);
    }
}



/* Animation section */




/* Media Query section */
@media screen and (max-width: 1200px) and (min-width: 1020px){
    nav {
        padding: 10px 38px;
    }
}


@media screen and (max-width: 1020px) and (min-width: 980px){
    /* nav{
        padding: 10px 5px;
    }
    .nav-li .li-btn{
        font-size: 24px;
        margin: 10px 5px;
        padding: 12px 5px;
    }
    #header-section .container{
        padding: 30px 20px;
    }
    .header-text-one{
        font-size: 50px;
        line-height: 62px;
        font-weight: 700;
        padding-bottom: 10px;
    }

    #cards-temp{
        padding: 0px 25px;
    }
    
    .temps-txt-2{
        padding: 0px 32px;
    } */
    
}


@media screen and (max-width: 990px) and (min-width: 880px){
    
    /* nav{
        padding: 10px 5px;
    }

    .nav-li {
        margin: 0px 0px;
    }
    .nav-li .li-btn{
        font-size: 24px;
        margin: 10px 5px;
        padding: 12px 5px;
    }
    #header-section .container{
        padding: 30px 20px;
    }
    .header-text-one{
        font-size: 45px;
        line-height: 50px;
        font-weight: 700;
        padding-bottom: 0px;
    }

    .header-text-two{
        font-size: 24px;
        line-height: 25px;
        font-weight: 400;
        color: #262626;
        padding: 30px 0px;
    }
    
    
    .header-btn-one{
        max-width: 348px;
        max-height: 91px;
        padding: 10px 5px;
        font-size: 24px;
        line-height: 29px;
        font-weight: 700;
    }  

    #cards-temp{
        padding: 0px 25px;
    }
    
    .temps-txt-2{
        padding: 0px 32px;
    }

    .loader img{
        position: absolute;
        top: 40%;
        left: 30%;

    }

    .load-content img{
        width: 40%;
    } */
}

@media screen and (max-width: 870px) and (min-width: 813px){
    /* nav{
        padding: 10px 5px;
    }
    
    .nav-li {
        margin: 12px 0px;
    }
    .nav-ul {
        float: right;
        margin: 0px;
        padding: 0px;
    }

    nav .nav-li #nav-login{
        font-size: 22px;
        line-height: 20px;
    }

    .nav-li .li-btn{
        font-size: 22px;
        margin: 8px 0px;
        padding: 8px 3px;
    }


    #header-section .container{
        padding: 30px 20px;
    }
    .header-text-one{
        font-size: 45px;
        line-height: 50px;
        font-weight: 700;
        padding-bottom: 0px;
    }

    .header-text-two{
        font-size: 24px;
        line-height: 25px;
        font-weight: 400;
        color: #262626;
        padding: 30px 0px;
    }
    
    
    .header-btn-one{
        max-width: 348px;
        max-height: 91px;
        padding: 10px 5px;
        font-size: 24px;
        line-height: 29px;
        font-weight: 700;
    }  

    #cards-temp{
        padding: 0px 25px;
    }
    
    .temps-txt-2{
        padding: 0px 21px;
    }

    .loader img{
        position: absolute;
        top: 40%;
        left: 30%;

    }

    .load-content img{
        width: 40%;
    } */
}

@media screen and (max-width: 812px) and (min-width: 760px){
    /* nav{
        padding: 10px 0px;
    }
    
    .nav-li {
        margin: 9px 0px;
    }
    .nav-ul {
        float: right;
        margin: 0px;
        padding: 0px;
    }

    nav .nav-li #nav-login{
        font-size: 22px;
        line-height: 20px;
    }

    .nav-li .li-btn{
        font-size: 22px;
        margin: 8px 0px;
        padding: 8px 3px;
    }


    #header-section .container{
        padding: 30px 20px;
    }
    .header-text-one{
        font-size: 45px;
        line-height: 50px;
        font-weight: 700;
        padding-bottom: 0px;
    }

    .header-text-two{
        font-size: 24px;
        line-height: 25px;
        font-weight: 400;
        color: #262626;
        padding: 30px 0px;
    }
    
    .header-btn-one{
        max-width: 348px;
        max-height: 91px;
        padding: 10px 5px;
        font-size: 24px;
        line-height: 29px;
        font-weight: 700;
    }  

    #cards-temp{
        padding: 0px 25px;
    }
    
    .temps-txt-2{
        padding: 0px 21px;
    }

    .loader img{
        position: absolute;
        top: 40%;
        left: 30%;

    }

    .load-content img{
        width: 40%;
    } */
}

@media screen and (max-width: 768px) and (min-width: 426px){

    /* navbar- section */
    /* .logo{
        margin: .5rem 1rem;
    }

    nav{
        padding: 10px 30px;
    }

    .check-box{
        display: block;
    }

    .nav-ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #131313;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    
    .nav-li{
        display: block;
        margin: 40px 0;
        line-height: 30px;
        text-transform: uppercase;
    }

    .nav-li a{
        font-size: 20px;
    }

    nav .nav-li #nav-login{
        border-left: none;
    }
    

    a:hover, a.active{
        background: none;
        color: #E2DA15;
    }
    #check:checked ~ ul{
        left: 0;
    } */
    /* navbar-section */


    /* #header-section .container{
        padding: 10px 30px;
        justify-content: center;
        text-align: center;
    }
    .header-text-one{
        font-size: 35px;
        line-height: 40px;
        font-weight: 700;
        padding-bottom: 0px;
    }

    .header-text-two{
        font-size: 20px;
        line-height: 23px;
        padding: 10px 0px;
    }
    
    
    .header-btn-one{
        width: 100%;
        max-width: 248px;
        height: 100%;
        max-height:71px;
        padding: 10px 5px;
        font-size: 20px;
        line-height: 25px;
        font-weight: 700;
    }
    

    .header-img{
        width: 100%;
        max-width: 369px;
        height: 100%;
        max-height: 369px;
    }
    
    #header-section .container{
        padding: 20px 30px;
    }

    .main1-txt-one {
        font-size: 35px;
        line-height: 40px;
    }
    
    #main-section-one{
        padding: 20px 30px;
    }

    .main-section-two{
        padding: 53px 30px;
    }

    #cards-temp {
        padding: 0px 36px;
    }

    .temps-txt-2 {
        padding: 10px 15px;
    }

    .count-num{
        font-size: 20px;
        line-height: 30px;
    
    }
    
    .count-txt{
        font-size: 20px;
        line-height: 30px;
    }

    .main-section-three{
        padding: 80px 40px;
        justify-content: center;
        text-align: center;
    }

    .main3-txt-head {
        font-size: 35px;
        line-height: 40px;
    }

    .main3-txt-body {
        font-size: 20px;
        line-height: 23px;
    }

    .main3-img {
        width: 100%;
        max-width: 385px;
        height: 100%;
        max-height: 313px;
    } */

    /* animation */

    /* .loader img{
        position: absolute;
        top: 40%;
        left: 30%;

    }

    .load-content img{
        width: 40%;
    } */
}

@media screen and (max-width: 430px) and (min-width: 373px){

    /* navbar- section */
    /* .logo{
        margin: .5rem 1rem;
    }

    nav{
        padding: 10px 20px;
    }

    .check-box{
        display: block;
    }

    .nav-ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #131313;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    
    .nav-li{
        display: block;
        margin: 40px 0;
        line-height: 30px;
        text-transform: uppercase;
    }

    .nav-li a{
        font-size: 20px;
    }

    nav .nav-li #nav-login{
        border-left: none;
    }
    

    a:hover, a.active{
        background: none;
        color: #E2DA15;
    }
    #check:checked ~ ul{
        left: 0;
    } */
    /* navbar-section */


    /* #header-section .container{
        padding: 10px 20px;
        justify-content: center;
        text-align: center;
    }
    .header-text-one{
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        padding-bottom: 0px;
    }

    .header-text-two{
        font-size: 18px;
        line-height: 23px;
        padding: 10px 0px;
    }
    
    
    .header-btn-one{
        width: 100%;
        max-width: 248px;
        height: 100%;
        max-height:71px;
        padding: 10px 5px;
        font-size: 18px;
        line-height: 25px;
    }
    

    .header-img{
        width: 100%;
        max-width: 369px;
        height: 100%;
        max-height: 369px;
    }
    
    #header-section .container{
        padding: 20px 20px;
    }
    
    #main-section-one{
        padding: 20px 20px;
    }

    #cards-temp {
        padding: 0px 36px;
    }

    .temps-txt-2 {
        padding: 10px 15px;
    }
    
    .main1-txt-one {
        font-size: 30px;
        line-height: 40px;
    }

    .main-section-two{
        padding: 53px 20px;
    }
    .count-num{
        font-size: 20px;
        line-height: 30px;
    
    }
    
    .count-txt{
        font-size: 20px;
        line-height: 30px;
    }

    .main-section-three{
        padding: 80px 40px;
        justify-content: center;
        text-align: center;
    }

    .main3-txt-head {
        font-size: 30px;
        line-height: 40px;
    }

    .main3-txt-body {
        font-size: 18px;
        line-height: 23px;
    }

    .main3-img {
        width: 100%;
        max-width: 385px;
        height: 100%;
        max-height: 313px;
    } */


    /* animation */

    /* .loader img{
        position: absolute;
        top: 40%;
        left: 30%;

    }

    .load-content img{
        width: 40%;
    } */
}

@media screen and (max-width: 375px) and (min-width: 323px){

    /* navbar- section */
    /* .logo{
        margin: .5rem 1rem;
    }

    nav{
        padding: 10px 20px;
    }

    .check-box{
        display: block;
    }

    .nav-ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #131313;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    
    .nav-li{
        display: block;
        margin: 40px 0;
        line-height: 30px;
        text-transform: uppercase;
    }

    .nav-li a{
        font-size: 20px;
    }

    nav .nav-li #nav-login{
        border-left: none;
    }
    

    a:hover, a.active{
        background: none;
        color: #E2DA15;
    }
    #check:checked ~ ul{
        left: 0;
    } */
    /* navbar-section */


    /* #header-section .container{
        padding: 10px 20px;
        justify-content: center;
        text-align: center;
    }
    .header-text-one{
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        padding-bottom: 0px;
    }

    .header-text-two{
        font-size: 18px;
        line-height: 23px;
        padding: 10px 0px;
    }
    
    
    .header-btn-one{
        width: 100%;
        max-width: 248px;
        height: 100%;
        max-height:71px;
        padding: 10px 5px;
        font-size: 18px;
        line-height: 25px;
    }
    

    .header-img{
        width: 100%;
        max-width: 369px;
        height: 100%;
        max-height: 369px;
    }
    
    #header-section .container{
        padding: 20px 20px;
    }
    
    #main-section-one{
        padding: 20px 20px;
    }

    .main1-txt-one {
        font-size: 30px;
        line-height: 40px;
    }

    .main-section-two{
        padding: 53px 20px;
    }

    #cards-temp {
        padding: 0px 30px;
    }

    .temps-txt-2 {
        padding: 10px 15px;
    }
    .count-num{
        font-size: 20px;
        line-height: 30px;
    
    }
    
    .count-txt{
        font-size: 20px;
        line-height: 30px;
    }

    .main-section-three{
        padding: 80px 40px;
        justify-content: center;
        text-align: center;
    }

    .main3-txt-head {
        font-size: 30px;
        line-height: 40px;
    }

    .main3-txt-body {
        font-size: 18px;
        line-height: 23px;
    }

    .main3-img {
        width: 100%;
        max-width: 385px;
        height: 100%;
        max-height: 313px;
    } */

    /* animation */

    /* .loader img{
        position: absolute;
        top: 40%;
        left: 30%;

    }

    .load-content img{
        width: 40%;
    } */
}

@media screen and (max-width: 323px) and (min-width: 200px){

    /* navbar- section */
    /* .logo {
        margin: 5px;
        width: 115px;
    }

    nav{
        padding: 12px;
    }

    .check-box{
        display: block;
    }

    .nav-ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #131313;
        top: 70px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    
    .nav-li{
        display: block;
        margin: 40px 0;
        line-height: 30px;
        text-transform: uppercase;
    }

    .nav-li a{
        font-size: 20px;
    }

    nav .nav-li #nav-login{
        border-left: none;
    }
    

    a:hover, a.active{
        background: none;
        color: #E2DA15;
    }
    #check:checked ~ ul{
        left: 0;
    } */
    /* navbar-section */


    /* #header-section .container{
        padding: 10px 20px;
        justify-content: center;
        text-align: center;
    }
    .header-text-one{
        font-size: 25px;
        line-height: 30px;
        font-weight: 700;
        padding-bottom: 0px;
    }

    .header-text-two{
        font-size: 16px;
        line-height: 23px;
        padding: 10px 0px;
    }
    
    
    .header-btn-one{
        width: 100%;
        max-width: 248px;
        height: 100%;
        max-height:51px;
        padding: 10px 5px;
        font-size: 16px;
        line-height: 25px;
    }
    

    .header-img{
        width: 100%;
        max-width: 369px;
        height: 100%;
        max-height: 369px;
    }
    
    #header-section .container{
        padding: 20px 20px;
    }
    
    #main-section-one{
        padding: 20px 20px;
    }

    .main1-txt-one {
        font-size: 25px;
        line-height: 30px;
    }

    .main-section-two{
        padding: 53px 20px;
    }

    #cards-temp {
        padding: 0px 30px;
    }

    .temps-txt-2 {
        padding: 10px 15px;
    }

    .count-num{
        font-size: 20px;
        line-height: 30px;
    
    }
    
    .count-txt{
        font-size: 20px;
        line-height: 30px;
    }

    .main-section-three{
        padding: 80px 40px;
        justify-content: center;
        text-align: center;
    }

    .main3-txt-head {
        font-size: 25px;
        line-height: 30px;
    }

    .main3-txt-body {
        font-size: 16px;
        line-height: 23px;
    }

    .main3-img {
        width: 100%;
        max-width: 385px;
        height: 100%;
        max-height: 313px;
    } */

    /* animation */

    /* .loader img{
        position: absolute;
        top: 40%;
        left: 30%;

    }

    .load-content img{
        width: 40%;
    } */
}

/* Media Query section */