/* taiwoak's css start*/

.main-tc-2-img img {
    width: 100%;
}

.main-tc-2 {
    padding-bottom: 50px;

}

#why .row {
    align-items: center;
}

.main-tc-2-h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #131313;
}

.main-tc-2-p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #262626;
}

#docs {
    padding-top: 3rem;

}

.main-tc-3-h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 48px;
    color: #131313;
    max-width: 560px;
}

.main-tc-3-h1-2 {
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 48px;
    color: #191919;
}

.main-tc-3-p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.main-tc-3-img img {
    margin: 0 auto;
    display: block;
    width: 100%;
}

.main-hr {
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 75px;
}

.main-tc-3-btn {
    width: 311px;
    height: 91px;
    padding: 10px;
    background-color: #2D2DB6;
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FAFAFA;
    border: none;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.main-tc-3-btn:hover {
    background: #5050C2;
    box-shadow: 0px 4px 12px rgba(56, 56, 56, 0.3);
    border-radius: 4px;
}

.main-tc-3-btn:active {
    background: #1E1E79;
    box-shadow: 0px 4px 12px rgba(56, 56, 56, 0.3);
    border-radius: 4px;
}


#main-tc-4 {
    width: 100%;
    background-color: #262698;
    /* padding: 80px 0 70px; */
    padding: 3rem 0;
}

.main-tc-4-h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
    color: #FEF7F7;
}

.main-tc-4-btn {
    width: 80%;
    max-width: 465px;
    height: 75px;
    padding: 10px;
    background-color: #E2DA15;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #403D3D;
    border: none;
    margin: 32px auto;
    display: block;
}

@media screen and (max-width: 600px) {
    .main-tc-4-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5.07527px;
        gap: 5.08px;
    }
}

.main-tc-4-btn:hover {
    background-color: #E2DA15;
    border: 2px solid #080808;
    border-radius: 4px;
    box-shadow: 0px 4px 12px rgba(56, 56, 56, 0.3);
}

.main-tc-4-btn:active {
    background-color: #BCB612;
    border: 2px solid #080808;
    border-radius: 4px;
}

#faq.main-tc-5 {
    padding: 3rem 0;
}

.main-tc-5-h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 80px;
    color: #5050C2;
    margin: 0 auto;
    max-width: 184px;
    padding-bottom: 24px;
    text-align: center;
}

.main-tc-5-faq {
    max-width: 1001px;
    background: #FFFFFF;
    border: 0.994889px solid #D6E2D6;
    border-radius: 4px;
    margin-bottom: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    color: #262626;
}

.main-tc-5-faq-2 {
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    position: relative;
    top: -20px;
}

@media screen and (max-width: 600px) {
    .main-tc-5-h1 {
        font-size: 40px;
    }
}

#main-tc-6 {
    padding-bottom: 59px;
}

.main-tc-6-h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    color: #0F0F3D;;
    padding-top: 4rem;
}

.main-tc-6-p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 23.8987px;
    line-height: 40px;
    color: #0F0F3D;
    position: relative;
}

@media screen and (max-width: 600px) {
    .main-tc-6-h1 {
        font-size: 30px;
    }
}
@media screen and (max-width: 450px) {
    .main-tc-6-p {
        display: none;
    }
    .main-tc-7-h1 {
        display: none;
    }
}

#faq .accordion-item {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

.main-tc-7-br {
    border-right: 6px solid #DDE7DD;
    padding-left: 80px;
    /* height: 844px; */
    position: relative;
    top: 35px;
}

.main-tc7 {
    display: block;  
    max-width: 900px;
    margin: 0 auto;
}

.main-tc-7-h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 600;
    color: #17175B;
}

.main-tc-7-label {
    display: block;
    /* max-width: 147px; */
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding: 24px 0 10px 0;
    font-weight: 500;
    color: #17175B;

}

.main-tc-7-input,
.main-tc-7-textarea {
    padding: 1rem;
    gap: 9.96px;
    width: 100%;
    background-color: #D5D5F0;
    border-radius: 4.9789px;
    border: none;
}

.main-tc-7-input:focus {
    outline: none;
    border: 2px solid rgba(3, 81, 98, 0.8);
    border-radius: 4px;
    background-color: #E4ECE4;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.main-tc-7-textarea::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main-tc-7-textarea {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.main-tc-7-textarea:focus {
    outline: none;
    border: 2px solid rgba(3, 81, 98, 0.8);
    border-radius: 4px;
    background-color: #E4ECE4;
}

.main-tc-7-input::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 19.9156px;
    line-height: 40px;
    color: #4A4A4A;
}


.main-tc-7-textarea::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 19.9156px;
    line-height: 29px;
    color: #4A4A4A;
}

.main-tc-7-submit {
    display: block;
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    padding: 1rem;
    background: #2D2DB6;;
    border-radius: 4px;
    border: 2px solid transparent;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 120px;
    transition: ease .2s;
}

.main-tc-7-submit:hover {
    background-color: #2D2DB6;
    border: 2px solid #080808;
    box-shadow: 0px 4px 12px rgba(56, 56, 56, 0.3);
}

.main-tc-8-con {
    padding-bottom: 10px;
}

.main-tc-8 {
    margin-left: 3rem;
}

.main-tc-8-h1 {
    margin-bottom: 4.2rem;
}

#contact .between {
    justify-content: center;
}

.main-tc-8-pa {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #DDE7DD;
    position: relative;
    right: -10px;
}

.main-tc-8-pc {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #DDE7DD;
    position: relative;
    top: 7px;
    right: -10px;
}

.main-tc-8-ul {
    display: block;
    justify-content: start;
}

.main-tc-9-p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-align: left;
    color: #D6E2D6;
}

.main-tc-10-p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FAFAFA;
    padding-bottom: 24px;
}

.main-tc-10-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FAFAFA;
    padding-bottom: 12px;
}

.main-tc-11 {
    padding-bottom: 37.2px;
}

.main-tc-11-p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #E4ECE4;
}

.main-tc-11-input {
    width: 100%;
    max-width: 400px;
    height: 53px;
    border: 3px solid #B2BCB2;
    background-color: #FFFFFF;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
    padding: 10px 10px;
}

.main-tc-11-input::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
}

.main-tc-11-sub {
    padding: 10px 30px;
    max-width: 181px;
    height: 54px;
    background-color: #E2DA15;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    border: 2px solid transparent;
    border-radius: 4px;
    font-size: 24px;
    color: #0A0A09;
    position: relative;
    top: 5.5px;
    right: 8px;
}

.main-tc-11-sub:hover {
    --border-color: #080808;

    border: 2px solid var(--border-color);
    background-color: #E2DA15;
    box-shadow: 0px 4px 12px rgba(56, 56, 56, 0.3);
}

.main-tc-11-sub:active {
    height: 59px;
    background-color: #BCB612;
    border: 2px solid #080808;
    border-radius: 4px;
}

.main-tc-12-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #DDE7DD;
    margin-bottom: 1rem;
}

.main-tc-12 {
    padding-top: 35px;
    padding-bottom: 35px;
}

.main-tc-12-img {
    margin-left: 16px;
    margin-top: -8px;
}


.footer {
    /* height: 1745px; */
    background-color: #FFFFFF;
    width: 100%;
}

.footer2 {
    /* height: 1745px; */
    background-color: #2D2DB6;
    width: 100%;
}

.footer3 {
    /* height: 1745px; */
    background-color: #2D2DB6;
    width: 100%;
}

.footer-hr1 {
    background-color: #2D2DB6;
    border: 1px solid #EBF1EB;
}

.footer-content {
    padding: 70px 0 35px;
}

/* taiwoak's css end*/


@media (max-width: 990px) {

    .main-tc-2-img img,
    .main-tc-3-img img,
    .main-tc-4-img img {
        width: 50%;
        height: 50%;
        margin: 0 auto;
        display: block;
    }

    .main-tc-4-h1 {
        font-size: 16px;
        line-height: 24px;
    }

    #contact .between {
        align-items: center;
    }

    .main-tc-7 {
        max-width: 530px;
        width: 100%;
        margin: 0 auto;
    }

    .main-tc-8 {
        max-width: 530px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 3rem;
    }

    .main-tc-8-con {
        padding-bottom: 20px;
    }

    .main-tc-11-sub {
        position: static;
    }
}

@media (min-width: 770px) {
    .main-tc-11-sub {
        position: relative;
    }
}

@media screen and (max-width: 600px) {
    .main-tc-9-p {
        display: none;
    }

    .main-tc-9-img {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 450px) {
    .main-tc-11-p {
        font-size: 20px;
    } 
    .main-tc-11-sub {
        font-size: 16px;
    }  
    .footer-grid {
        display: flex;
        flex-direction: column-reverse;
    } 
    .footer-logo {
        margin-bottom: 1.5rem;
    }  
}

.footer-svg {
    display: block;
    position: relative;
    top: 10px;
}