<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions Generator</title>

    {% load static %}
    <!-- Change version number to force static files to reload styles -->
    
    <link rel="stylesheet" href="{% static 'css/main.css' %}?version=1" />
</head>
<body>
    
    <!-- This is the landing page -->
    <!-- Include blocks from the block folder -->
    
    <h1>Hello</h1>

    <!-- Change version number to force static files to reload javascript -->
    <script src="{% static 'js/main.js' %}?version=1" ></script>
</body>
</html>