{% load static %}
<footer>
    <article class="container-fluid footer">
      <section class="d-flex flex-column justify-content-center align-items-center" id="main-tc-6">
        <h1 class="main-tc-6-h1">HOW CAN WE HELP?</h1>
        <p class="main-tc-6-p">We provide 24/7 customer care support</p>
      </section>
      <section class=" d-sm-flex flex-sm-row justify-content-sm-center align-items-sm-start">
        <div class="main-tc-7">
          <h1 class="main-tc-7-h1">Message us</h1>
          <form action="" method="post">
            <div>
              <label for="name" class="main-tc-7-name">FULL NAME</label> 
              <input type="text" name="name" class="main-tc-7-input" maxlength="30" placeholder="Input Name" required>
            </div>
            <div>
              <label for="email" class="main-tc-7-email">E-MAIL</label>
              <input type="email" name="email" class="main-tc-7-input" maxlength="40" placeholder="yourname@gmail.com" required>
            </div>
            <div>
              <label for="message" class="main-tc-7-text">HOW CAN WE HELP YOU?</label>
              <textarea name="message" class="main-tc-7-textarea" maxlength="500" placeholder="Tell us what you'll like to enquire about" required></textarea>
            </div>
            <input type="submit" name="submit" value="SUBMIT" class="main-tc-7-submit">
          </form>
        </div>
        <div class="main-tc-7-br"></div>
        <div class="main-tc-8">
          <h1 class="main-tc-8-h1">Contacts</h1>
          <span class="d-flex flex-row main-tc-8-con">
            <img src="{% static 'assets/landing/taiwo/email.png' %}" alt="Email Address" width="70px" height="57px">
            <ul>
              <li class="main-tc-8-pa">Quickterms@gmail.com</li>
              <li class="main-tc-8-pb">Quickterms@yahoo.com</li>
            </ul>
          </span>
          <span class="d-flex flex-row main-tc-8-con">
            <img src="{% static 'assets/landing/taiwo/call.png' %}" alt="Phone Numbers" width="57px" height="61px">
            <ul>
              <li class="main-tc-8-pb2 ">+234 - 815 - 874 - 7222 </li>
              <li class="main-tc-8-pa2">+234 - 703 - 713 - 9611</li>
            </ul>
          </span>
          <span class="d-flex flex-row align-items-center">
            <img src="{% static 'assets/landing/taiwo/location.png' %}" alt="Location" width="65px" height="65px">
            <p class="main-tc-8-pc">@Zuri, project_team_74</p>
          </span>
        </div>
      </section>
    </article>  
    <div class="footer-hr1"></div>
    <article class="container-fluid footer2">
      <section class="row footer-content">
          <div class="col-sm-3 footer-logo">
           <img src="{% static 'assets/landing/taiwo/logo.png' %}" alt="QuickTerms" width="200px" height="77px" class="main-tc-9-img"> 
           <p class="main-tc-9-p">Zuri training, Team 74.</p>    
          </div>
          <div class="col-sm-3 footer-link">
            <ul>
              <li class="main-tc-10-p">Product</li>
              <li><a href="#" class="main-tc-10-link">Privacy Policy Generator</a></li>
              <li><a href="#" class="main-tc-10-link">Terms & Conditions Generator</a></li>
              <li><a href="#" class="main-tc-10-link">Privacy Policy Template</a></li>
              <li><a href="#" class="main-tc-10-link">Terms & Conditions Template</a></li>
            </ul>
          </div>
          <div class="col-sm-2 footer-link">
            <ul>
              <li class="main-tc-10-p">Company</li>
              <li><a href="#" class="main-tc-10-link">About</a></li>
              <li><a href="#" class="main-tc-10-link">Contact</a></li>
              <li><a href="#" class="main-tc-10-link">How it works</a></li>
              <li><a href="#" class="main-tc-10-link">Reviews</a></li>
            </ul>
          </div>
          <div class="col-sm-2 footer-link">
            <ul>
              <li class="main-tc-10-p">Social Handles</li>
              <li><a href="#" class="main-tc-10-link">Facebook</a></li>
              <li><a href="#" class="main-tc-10-link">Instagram</a></li>
              <li><a href="#" class="main-tc-10-link">WhatsApp</a></li>
              <li><a href="#" class="main-tc-10-link">Twitter</a></li>
            </ul>
          </div>
          <div class="col-sm-2 footer-link">
            <ul>
              <li class="main-tc-10-p">Complaints</li>
              <li><a href="#" class="main-tc-10-link">Call us</a></li>
              <li><a href="#" class="main-tc-10-link">Email</a></li>
            </ul>
          </div>
      </section>
      <section class="d-sm-flex flex-sm-row justify-content-sm-center align-items-sm-center main-tc-11">
          <p class="main-tc-11-p">Subscribe to our Newsletter</p>
          <form action="" method="post">
            <div>
             <input type="email" name="email" class="main-tc-11-input" maxlength="40" required>
             <input type="button" class="main-tc-11-sub" name="submit" value="Subscribe">
            </div>
          </form>
      </section>
    </article>
    <div class="footer-hr1"></div>
    <article class="container-fluid footer3">
      <section class="d-sm-flex flex-sm-row justify-content-sm-between align-items-sm-center main-tc-12">
         <a href="#" class="main-tc-12-link">Read our terms and privacy policy</a> 
         <div class="main-tc-12-i">
          <img src="{% static 'assets/landing/taiwo/Facebook.png' %}" alt="Facebook" width="40px" height="40px" class="main-tc-12-img">
          <img src="{% static 'assets/landing/taiwo/LinkedIn.png' %}" alt="LinkedIn" width="40px" height="40px" class="main-tc-12-img">
          <img src="{% static 'assets/landing/taiwo/WhatsApp.png' %}" alt="WhatsApp" width="40px" height="40px" class="main-tc-12-img">
          <img src="{% static 'assets/landing/taiwo/Facebook Messenger.png' %}" alt="Facebook Messenger" width="40px" height="40px" class="main-tc-12-img">
         </div>
      </section>
    </article>
  </footer>