{% load static %}
<footer>
  <article class="container-fluid footer">
    {% include 'tc_site/blocks/landing/contact.html' %}
  </article>
  <div class="footer-hr1"></div>
  <article class="container-fluid footer2">
    <section class="row footer-content">
      <div class="col-md-3 col-lg-2 col-sm-4 footer-logo">
        <img src="{% static 'assets/landing/taiwo/logo.png' %}" alt="QuickTerms" width="200px" height="77px"
          class="main-tc-9-img">
        <p class="main-tc-9-p">Zuri training, Team 74.</p>
      </div>
      <div class="col-md-3 col-lg-2 col-sm-4 footer-link">
        <ul>
          <li class="main-tc-10-p">Product</li>
          <li><a href="#" class="main-tc-10-link">Privacy Policy Generator</a></li>
          <li><a href="#" class="main-tc-10-link">Terms & Conditions Generator</a></li>
          <li><a href="#" class="main-tc-10-link">Privacy Policy Template</a></li>
          <li><a href="#" class="main-tc-10-link">Terms & Conditions Template</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2 col-sm-4 footer-link">
        <ul>
          <li class="main-tc-10-p">Company</li>
          <li><a href="#" class="main-tc-10-link">About</a></li>
          <li><a href="#" class="main-tc-10-link">Contact</a></li>
          <li><a href="#" class="main-tc-10-link">How it works</a></li>
          <li><a href="#" class="main-tc-10-link">Reviews</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2 col-sm-4 footer-link">
        <ul>
          <li class="main-tc-10-p">Social Handles</li>
          <li><a href="#" class="main-tc-10-link">Facebook</a></li>
          <li><a href="#" class="main-tc-10-link">Instagram</a></li>
          <li><a href="#" class="main-tc-10-link">WhatsApp</a></li>
          <li><a href="#" class="main-tc-10-link">Twitter</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2 col-sm-4 footer-link">
        <ul>
          <li class="main-tc-10-p">Complaints</li>
          <li><a href="#" class="main-tc-10-link">Call us</a></li>
          <li><a href="#" class="main-tc-10-link">Email</a></li>
        </ul>
      </div>
    </section>
    <section class="container main-tc-11">
      <div class="row align-items-lg-center">
        <p class="col-lg-3 main-tc-11-p">Subscribe to our Newsletter</p>
        <form class="col-lg-9" action="" method="post">
          <div>
            <input type="email" name="email" class="main-tc-11-input" maxlength="40" required>
            <input type="button" class="main-tc-11-sub" name="submit" value="Subscribe">
          </div>
        </form>
      </div>
    </section>
  </article>
  <div class="footer-hr1"></div>
  <article class=" footer3">
    <section class="container d-sm-flex flex-sm-row justify-content-sm-between align-items-sm-center main-tc-12">
      <a href="#" class="main-tc-12-link">Read our terms and privacy policy</a>
      <div class="main-tc-12-i">
        <img src="{% static 'assets/landing/taiwo/Facebook.png' %}" alt="Facebook" width="40px" height="40px"
          class="main-tc-12-img">
        <img src="{% static 'assets/landing/taiwo/LinkedIn.png' %}" alt="LinkedIn" width="40px" height="40px"
          class="main-tc-12-img">
        <img src="{% static 'assets/landing/taiwo/WhatsApp.png' %}" alt="WhatsApp" width="40px" height="40px"
          class="main-tc-12-img">
        <img src="{% static 'assets/landing/taiwo/Facebook Messenger.png' %}" alt="Facebook Messenger" width="40px"
          height="40px" class="main-tc-12-img">
      </div>
    </section>
  </article>
</footer>