{% load static %} 

<nav>
  <input type="checkbox" for="check" id="check" />
  <label class="check-box" for="check"><i class="fa fa-bars"></i></label>
  <label><img class="logo" src="{% static 'assets/landing/dinho/Group 29.png'%}" alt="logo" /></label>
  <ul class="nav-ul">
    <li class="nav-li"><a class="active" href="">Home</a></li>
    <li class="nav-li"><a href=""> How It Works</a></li>
    <li class="nav-li"><a href="">Generate</a></li>
    <li class="nav-li"><a href=""> Contact</a></li>
    <li class="nav-li"><a href="">FAQ</a></li>
    <li class="nav-li"><a id="nav-login" href="">Login</a></li>
    <li class="nav-li">
      <button class="li-btn" href="#">Sign Up</button>
    </li>
  </ul>
</nav>