 {% extends 'landing.html' %}
 
 <!-- header-section -->
    {% block content %}

    <div id="header-section">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img
                class="header-img"
                src="{% static 'asset/images/—Pngtree—terms and conditions flat design_5870935 1.png'%}"
                alt=""
              />
            </div>
            <div class="col-md-6">
              <p class="header-text-one">
                Terms & Conditions and Privacy Policy Generator
              </p>
              <p class="header-text-two">
                We offer you customized terms & conditions and privacy policy
                for websites, mobile apps, desktop apps, ecommerce and many more
                to protect and promote your business.
              </p>
              <button class="header-btn-one">Get Started For FREE</button>
            </div>
          </div>
        </div>
      </div>
    {% endblock content %}
  <!-- header-section -->