{% load static %}
<hr class="main-hr">
    <section id="docs" class="container">
      <div class="row flex-column-reverse flex-lg-row-reverse">
        <div class="col-lg-6 main-tc-3-img">
          <img src="{% static 'assets/landing/taiwo/howto-1.png' %}" alt="How To Use T & C Generator" width=""
          height="">
        </div>
        <div class="col-lg-6 main-tc-3">
          <h1 class="main-tc-3-h1">How to Use the Terms & Conditions Generator for free on our website</h1>
          <div>
            <h1 class="main-tc-3-h1-2">1. Register</h1>
            <p class="main-tc-3-p">Sign up for free and select a template to get started</p>
          </div>
          <div>
            <h1 class="main-tc-3-h1-2">2. Complete the document</h1>
            <p class="main-tc-3-p">Answer a few questions and your document is created automatically.</p>
          </div>
          <div>
            <h1 class="main-tc-3-h1-2">3. Export- Share- Download</h1>
            <p class="main-tc-3-p">Your document is ready! You will be able to export, share and download it in Word, PDF,
              Spreadsheet formats.</p>
            </div>
            <a href="{% url 'tc_site:gen-form' docID='0' %}"><button class="main-tc-3-btn">Get Started Here</button></a>
        </div>
      </div>
    </section>
