{% load static %}
<div id="sign-in-modal" class="backdrop-wrapper" style="display: none;">
  <div class="backdrop"></div>
  <div class="modals login_container">
    <i class="cancel cancel-backdrop">
      <img src="{% static 'assets/auth/cancel.png' %}" alt="cancel" width="20px" height="20px">
    </i>
    <div class="container2">
      <figure>
        <img {% comment %} src="{% static 'assets/auth/sign-up/get-started.png' %}" {% endcomment %}
          src="{% static 'assets/auth/sign-up/get-started.svg' %}" {% comment %} alt="get-started.png" {% endcomment %}
          alt="get-started.svg" />
      </figure>

      <div class="login_right">
        <div class="head_wrap">
          <p class="login_heading">Login to your account</p>
          <p>Create an account with QuickTerms and get started right away</p>
        </div>
        {% if signin_form.errors %}
        <div class="alert alert-warning alert-dismissible fade show error-alert" role="alert">
          {{signin_form.errors.username}}
          {{signin_form.errors.password}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <form action="{% url 'tc_site:signin' %}" method="post" id="log-in_form">
          {% csrf_token %}
          <div class="fields">
            <label for="first_name">Username</label>
            {{signin_form.username}}
          </div>

          <div class="fields">
            <label for="password">Password</label>
            <div class="icon_group">
              {{signin_form.password}}
              <i class="bi bi-eye-slash togglePassword"></i>

            </div>
          </div>
          <span id="forgot"><a href="{% url 'tc_site:password_reset' %}"> Forgot Password? </a></span>

          <div class="btn-login-container">
            <!-- I changed your styles from targeting the button element to targeting a 'button class' -->
            <button class="button" type="submit" id="login_btn">Login</button>
          </div>
        </form>
        <div class="d-flex align-items-center justify-content-center">
          <p class="question me-2">Don't have an account?</p>
          <p class="sign-up"><a>Sign Up</a></p>
        </div>
      </div>
    </div>
  </div>
</div>