{% load static %}

<div id="sign-up-modal" class="backdrop-wrapper" style="display: none">
  <div class="backdrop"></div>
  <div class="modals sign-up_container">
    <i class="cancel cancel-backdrop">
      <img src="{% static 'assets/auth/cancel.png' %}" alt="cancel" width="20px" height="20px">
    </i>
    <div class="container">
      <figure>
        <img {% comment %} src="{% static 'assets/auth/sign-up/get-started.png' %}" {% endcomment %}
          src="{% static 'assets/auth/sign-up/get-started.svg' %}" {% comment %} alt="get-started.png" {% endcomment %}
          alt="get-started.svg" />
      </figure>

      <div class="sign-up_right">
        <div class="head_wrap">
          <p class="sign-up_heading">Sign Up!</p>
          <p>Create an account with QuickTerms and get started right away</p>
        </div>
        {% if signup_form.errors %}
        <div class="alert alert-warning alert-dismissible fade show error-alert" role="alert">
          {{signup_form.errors.last_name}} {{signup_form.errors.first_name}}
          {{signup_form.errors.username}} {{signup_form.errors.email}}
          {{signup_form.errors.password}} {{signup_form.errors.password2}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <form action="{% url 'tc_site:signup' %}" method="post" id="sign-up_form">
          {% csrf_token %}
          {% comment %} <div class="fields">
            <label for="username">Username </label>
            {{signup_form.username}}
          </div> {% endcomment %}
          <div class="fields">
            <label for="email">Email Address </label>
            {{signup_form.email}}
          </div>
          {% comment %} <div class="fields">
            <label for="first_name">First Name</label>
            {{signup_form.first_name}}
          </div>
          <div class="fields">
            <label for="first_name">Last Name</label>
            {{signup_form.last_name}}
          </div> {% endcomment %}
          <div class="fields">
            <label for="username">Username</label>
            {{signup_form.username}}
          </div>
          <div class="fields">
            <label for="password">Password</label>
            <div class="icon_group">
              {{signup_form.password}}
              <i class="bi bi-eye-slash togglePassword"></i>
            </div>
          </div>
          <div class="fields">
            <label for="password2">Verify Password</label>
            <div class="icon_group">
              {{signup_form.password2}}
              <i class="bi bi-eye-slash togglePassword"></i>
            </div>
            <!-- <input type="password" name="password2" placeholder="Enter your password" min="8" class="password" required /> -->
          </div>
          <p class="d-flex">
            <input type="checkbox" name="agree" id="terms_agreement" onclick="enableBtn();" />
            <span>
              By checking this box, I agree to QuickTerms' <a>User Agreement</a> and
              <a>Privacy Policy<a>.
            </span>
          </p>
          <div class="btn-sign-up-container">
            <!-- I changed your styles from targeting the button element to targeting a 'button class' -->
            <button class="button" type="submit" id="sign-up_btn">Sign Up</button>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <p class="question me-2">Already have an account?</p>
            <p class="sign-in"><a>Log in</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>