@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap");

#forgot-password-modal .backdrop {
  background-color: #E3DFE5;
}

.forgot_container {
  --main-color: #F3F1F1;
  --main-blue: rgb(45, 45, 182);
  --main-blue-light: hsl(240, 60%, 55%);
}

.modals.forgot_container {
  position: absolute;
  padding: 2rem;
  background-color: var(--main-color);
  box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.25);
  border: 0px solid;
  max-width: 426px;
  border-radius: 1rem;
}

.modals.forgot_container p.heading {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 29px;
  
}

.modals.forgot_container form#forgot-password {
  display: flex;
  flex-direction: column;
}

.modals.forgot_container div.fields {
  margin-bottom: .5rem;
}

.modals.forgot_container div.icon_group {
  --mg-bottom: 2px;
  margin-bottom: var(--mg-bottom);
  position: relative;
  font-size: 16px;
}

.modals.forgot_container input {
  width: 100%;
  margin-bottom: var(--mg-bottom);
  border-radius: 4px;
  border: solid rgba(146, 146, 146, 1) 2px;
  padding: .5rem;
}

.modals.forgot_container input::placeholder {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: rgba(0, 0, 0, 0.4);
}

.modals.forgot_container input:focus {
  outline: none;
  transition: 0.1s;
  border: solid var(--main-blue) 2px;
  box-shadow: 0px 0px 2px 1px rgba(146, 146, 146);
}

.modals.forgot_container input:focus::placeholder {
  transition: 0.1s;
  letter-spacing: 0.6px;
  font-size: 20px;
}

.modals.forgot_container input.email {
  margin-bottom: 0.4em;
}

.modals.forgot_container label {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 5px;
  font-weight: 600;
}

.modals.forgot_container div.text {
  margin:  0;
  color: #0D0D0D;
  line-height: 29px;
  padding-bottom: 20px;
  text-align: left;
  max-width: 330px;
  text-align: center;

}

.modals.forgot_container p {
  text-align: center;
}

.modals.forgot_container a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.modals.forgot_container .btn-forgot-container {
  margin-bottom: 1rem;
  align-self: center;
  width: 180px;
  margin: auto;
}

.modals.forgot_container .button {
  width: 100%; 
  line-height: 29px;
  color: rgba(212, 212, 212, 1);
  background-color: var(--main-blue);
  border: none;
  border-radius: 4px;
  padding: 12px 10px;
  margin: 13px 0px;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}
.modals.forgot_container .btn-close{
  
  padding-top: 50px;
}
.modals.forgot_container #forgot_btn {
  transition: letter-spacing 0.3s;
  letter-spacing: normal;
}


.modals.forgot_container #forgot_btn:hover {
  color: white;
  cursor: pointer;
  letter-spacing: 1.2px;
}

.modals.forgot_container .question {
  margin-bottom: 10px;
}
.modals.forgot_container input {
  border: 1px solid;
  border-radius: 0;
}

.modals.forgot_container p a {
  color: var(--main-blue) !important;
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
  margin: auto;
  cursor: pointer;
}
.modals.forgot_container p a:hover {
  color: var(--main-blue-light) !important
}

@media screen and (max-width: 700px) {
  .modals.forgot_container p.heading {
    font-size: 30px;
  }

  .modals.forgot_container input::placeholder {
    font-size: 14px;
  }

  .modals.forgot_container input:focus::placeholder {
    transition: 0.1s;
    font-size: 15px;
  }

  .modals.forgot_container label {
    font-size: 14px;
  }

  .modals.forgot_container span a {
    font-size: 12px;
  }

  .modals.forgot_container .btn-forgot-container {
    margin-top: 8px;
  }

  .modals.forgot_container button {
    padding: 8px 8px;
    font-size: 20px;
  
  }

  .modals.forgot_container #forgot_btn:hover {
    letter-spacing: 1px;
  }

  .modals.forgot_container .question {
    margin-bottom: 8px;
  }

  .modals.forgot_container p a {
    font-size: 17px;
  }
}

@media screen and (max-width: 350px) {
  .modals.forgot_container {
    padding: 20px 15px;
  }

  .modals p.heading {
    font-size: 26px;
  }
  .modals input:focus::placeholder {
    transition: 0.1s;
    font-size: 15px;
  }
  .modals button {
    padding: 8px 8px;
    font-size: 16px;
  }
}