@import url("https://use.typekit.net/bpd3bxi.css");

.login_container {
  --main-color: rgb(255, 255, 255);
  --main-blue: rgb(45, 45, 182);
  --main-blue-light: hsl(240, 60%, 55%);
}

.backdrop-wrapper {
  position: fixed;
  z-index: 100;
  display: grid;
  place-items: center;
  padding: 2rem 0;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.modals.login_container {
  background-color: rgba(243, 241, 241, 1);
  box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  border: 1px solid black;
  width: 90%;
  /* max-width: 480px; */
  max-width: 1000px;
  padding: 2.38rem;
  position: relative;
  padding-top: 4rem;
}

.modals .cancel {
  font-size: 60px;
  position: absolute;
  top: 0;
  right: 2rem;
  width: fit-content;
  cursor: pointer;
}

.modals.login_container div.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

/* Image stylings*/
.modals.login_container figure {
  margin-bottom: 1rem;
  overflow: hidden;
  margin-right: 1rem;
}
.modals.login_container figure img {
  width: 100%;
}

/* Heading styles */
.modals.login_container .head_wrap {
  margin: auto;
}

.modals.login_container .head_wrap p {
  font-size: 12px;
  color: rgba(19, 19, 19, 1);
}

.modals.login_container .head_wrap .login_heading {
  font-weight: 700;
  font-size: 31px;
  line-height: 39px;
  margin-bottom: 1.2rem;
  color: var(--main-blue);
}

/* form stylings*/
.modals form#log-in_form {
  display: flex;
  flex-direction: column;
}

.modals div.fields {
  margin-bottom: 0.5rem;
}

.modals div.icon_group {
  --mg-bottom: 2px;

  margin-bottom: var(--mg-bottom);
  position: relative;
  font-size: 16px;
}

.modals input {
  width: 100%;
  margin-bottom: var(--mg-bottom);
  border-radius: 4px;
  border: solid rgba(146, 146, 146, 1) 2px;
  padding: 0.5rem;
  /* gap: 10px; */
}

.modals input::placeholder {
  font-weight: 400;
  font-size: 18px;
  /* line-height: 40px; */
  font-style: normal;
  color: rgba(0, 0, 0, 0.4);
}

.modals input:focus {
  outline: none;
  transition: 0.1s;
  border: solid var(--main-blue) 2px;
  box-shadow: 0px 0px 2px 1px rgba(146, 146, 146);
}

.modals input:focus::placeholder {
  transition: 0.1s;
  letter-spacing: 0.6px;
  font-size: 20px;
}

.modals input#password {
  margin-bottom: 0.4em;
}

.modals i.togglePassword {
  position: absolute;
  top: calc(50% - var(--mg-bottom));
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.modals label {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 5px;
  font-weight: 400;
}

.modals #forgot {
  margin: 1rem 0;
}

.modals span a {
  text-align: left;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  width: fit-content;
}
.modals span a:hover {
  color: var(--main-blue);
}

.modals p.question {
  text-align: center;
}

.modals a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.modals .btn-login-container {
  margin-bottom: 1rem;
}

.modals .button {
  width: 100%;
  height: 2.4em;
  line-height: 29px;
  color: rgb(235, 241, 235);
  color: rgba(212, 212, 212, 1);
  background-color: var(--main-blue);
  border: none;
  border-radius: 4px;
  padding: 12px 10px;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.modals #login_btn {
  transition: letter-spacing 0.3s;
  letter-spacing: normal;
}

.modals #login_btn:hover {
  color: white;
  cursor: pointer;
  letter-spacing: 1.2px;
}

.modals .question {
  margin-bottom: 10px;
}

.modals p a {
  color: var(--main-blue) !important;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: fit-content;
  margin: auto;
  cursor: pointer;
}
.modals p a:hover {
  color: var(--main-blue-light) !important;
}

@media screen and (max-width: 700px) {
  .modals.login_container i.fa-times{
    font-size: 30px;
  }

  .modals.login_container figure {
    display: none;
  }
  .modals p.heading {
    font-size: 30px;
  }

  .modals input::placeholder {
    font-size: 14px;
  }

  .modals input:focus::placeholder {
    transition: 0.1s;
    font-size: 15px;
  }

  .modals label {
    font-size: 14px;
  }

  .modals span a {
    font-size: 12px;
  }

  .modals .btn-login-container {
    margin-top: 8px;
    margin-bottom: 21px;
  }

  .modals button {
    padding: 9px 8px;
    font-size: 21px;
  }

  .modals #login_btn:hover {
    letter-spacing: 1px;
  }

  .modals .question {
    margin-bottom: 8px;
  }

  .modals p a {
    font-size: 17px;
  }
}

@media screen and (max-width: 400px) {
  .modals.login_container {
    padding: 20px;
  }

  .modals.login_container i.fa-times{
    font-size: 30px;
  }
  
  .modals.login_container figure {
    display: none;
  }

  .modals p.heading {
    font-size: 26px;
  }
  .modals input:focus::placeholder {
    transition: 0.1s;
    font-size: 15px;
  }
  .modals button {
    padding: 9px 8px;
    font-size: 19px;
  }
  .modals .question {
    font-size: 1rem;
  }
  .modals .sign-in,
  .modals .sign-up {
    font-size: 1.1rem;
  }
}
