{% load static %}
<section
  class="container-fluid d-flex flex-column justify-content-lg-center justify-content-start align-items-lg-start align-items-center"
  id="sidebar">
  <div class="sidebar-logo">
    <img src="{% static 'assets/dashboard/layout/taiwo/quickterms.png' %}" alt="Quickterms" class="sidebar-logoimg">
  </div>
  <div class="sidebar-dash sidebar-bg">
    <img src="{% static 'assets/dashboard/layout/taiwo/dashboard.png' %}" class="sidebar-img sidebar-img1"
      alt="Dashboard">
    <a href="dashboard.html" class="sidebar-a">Dashboard</a>
  </div>
  <div class="sidebar-gend sidebar-bg">
    <img src="{% static 'assets/dashboard/layout/taiwo/gendocs.png' %}" class="sidebar-img sidebar-img2"
      alt="Generated Docs">
    <a href="gendocs.html" class="sidebar-a">Generated Docs</a>
  </div>
  <div class="sidebar-gen sidebar-bg">
    <img src="{% static 'assets/dashboard/layout/taiwo/generate.png' %}" class="sidebar-img sidebar-img3"
      alt="Generate">
    <a href="generate.html" class="sidebar-a">Generate</a>
  </div>
  <div class="sidebar-arch sidebar-bg">
    <img src="{% static 'assets/dashboard/layout/taiwo/archive.png' %}" class="sidebar-img sidebar-img4" alt="Archive">
    <a href="archive.html" class="sidebar-a">Archive</a>
  </div>
  <div class="sidebar-con sidebar-bg">
    <img src="{% static 'assets/dashboard/layout/taiwo/contact.png' %}" class="sidebar-img sidebar-img5" alt="Contact">
    <a href="#" class="sidebar-a">Contact</a>
  </div>
  <div class="sidebar-log sidebar-bg">
    <img src="{% static 'assets/dashboard/layout/taiwo/logout.png' %}" class="sidebar-img sidebar-img6" alt="Logout">
    <a href="#" class="sidebar-a">Logout</a>
  </div>
  <div class="sidebar-active"></div>
</section>

