{% load static %}
<!-- NavBar -->
<nav id="dash-top-nav">
    <div class="dash-nav">
      <div class="dash-text">
        <a href="">DashBoard</a>
      </div>
      <div class="nav-icons">
        <a href="#"><img src="{% static 'assets/dashboard/dinho/notification.png' %}" alt="" /></a>
        <a href="/"><img src="{% static 'assets/dashboard/dinho/home-2.png' %}" alt="" /></a>

        <a class="dashboard-link" href="#"><img src="{% static 'assets/dashboard/dinho/Group 37.png' %}" alt="" />
          <span>John Doe</span>
        </a>
        
      </div>
    </div>
  </nav>
  <!-- NavBar -->

  <!-- <nav class="navbar navbar-default  navbar-expand navbar-fixed-top nav-wrapper">
    <div class="container-fluid d-flex flex-row align-items-center">
      <ul class="navbar-nav">
        <li class="nav-item">
          <p class="nav-p1" id="nav-dash">Dashboard</p>
        </li>
        <li class="nav-item">
          <img src="{% static 'assets/dashboard/layout/taiwo/notifications.png' %}" class="nav-img sidebar-img7">
        </li>
        <li class="nav-item">
          <img src="{% static 'assets/dashboard/layout/taiwo/home.png' %}" alt="" class="nav-img1 sidebar-img8">
        </li>
        <li class="nav-item">
          <img src="{% static 'assets/dashboard/layout/taiwo/person.png' %}" alt="" class="nav-img2 sidebar-img9">
        </li>
        <li class="nav-item">
          <p class="nav-p2">John Doe</p>
        </li>
      </ul>
    </div>
  </nav> -->