#preview {
    --primary-blue: hsl(240, 60%, 30%);
    --primary-blue-2: #5050C2;
    --primary-blue-light: #8E8EDA80;
    --primary-yellow: #E2DA15;
    --border-color: #080808;

    min-height: 100vh;
    padding-top: 100px;
}

#preview .back-arrow {
    position: fixed;
    left: 3rem;
    top: 6rem;

    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#preview .back-arrow:hover {
    background-color: #ccc;

}
#preview .back-arrow img:first-child {
    width: 20px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
#preview .back-arrow img:last-child {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
}

#preview #preview-wrapper {
    padding-top: 50px;
    height: 150vh;
    overflow-y: scroll;
    border: inset 2px #aaa;
    border-right: none;
    border-left: none;
}

#preview .btns {
    margin: 3rem 0 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#preview .btns > a {
    width: 80%;
}
#preview .btn {
    width: 80%;
    margin: auto;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    max-width: 250px;
    padding: .5rem 1rem;
    border: 2px solid transparent;
}

#preview .btn-pri {
    background: var(--primary-blue);
    color: white
}
#preview .btn-sec {
    background: var(--primary-yellow);
}
#preview .btn-pri:hover {
    background: var(--primary-blue-2);
}
#preview .btn-sec:hover {
    border: 2px solid var(--border-color);
}

@media screen and (max-width: 500px) {
    #preview .back-arrow {
        display: none;
    }
}